.gifts-layout__container[data-v-95e9aecf] {
    padding: 0 12px
}

@media (min-width:768px) {
    .gifts-layout__container[data-v-95e9aecf] {
        padding: 0 18px
    }
}

@media (min-width:1281px) {
    .gifts-layout__container[data-v-95e9aecf] {
        padding: 0
    }
}