.expand-enter-active[data-v-1fd4888a],
.expand-leave-active[data-v-1fd4888a] {
    overflow: hidden;
    transition: height .2s linear
}

.expand-enter[data-v-1fd4888a],
.expand-leave-to[data-v-1fd4888a] {
    height: 0
}

*[data-v-1fd4888a] {
    backface-visibility: hidden;
    perspective: 1000px;
    transform: translateZ(0);
    will-change: height
}