@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.href-disabled[data-v-7f05abe6] {
    background: #00ff937a !important;
    cursor: default;
    pointer-events: none
}

.payment-method[data-v-7f05abe6] {
    margin-top: 16px
}

.payment-method_header[data-v-7f05abe6] {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    font-family: "Geologica", sans-serif;

    text-align: left
}

.payment-method_switch[data-v-7f05abe6] {
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 8px;
    display: flex;
    height: 40px;
    margin-top: 8px;
    position: relative
}

.payment-method_tab[data-v-7f05abe6] {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 4px;
    justify-content: center;
    width: 50%
}

.payment-method_tab-coins[data-v-7f05abe6] {
    color: #ffe500;
    font-family: "Geologica", sans-serif;

    position: relative
}

.payment-method_tab-coins--discount[data-v-7f05abe6] {
    background: linear-gradient(280deg, #02dfa8 -36.14%, #5c51e4);
    border-radius: 21px;
    box-shadow: 0 0 16px #00ff9340;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 134%;
    padding: 2px 8px;
    position: absolute;
    right: 12px;
    top: -12px;
    z-index: 3
}

.payment-method_sw-backdrop[data-v-7f05abe6] {
    background: #ffffff26;
    border-radius: 8px;
    bottom: -1px;
    left: -1px;
    position: absolute;
    top: -1px;
    transition: all .2s ease-in-out;
    width: 50%;
    font-family: "Geologica", sans-serif;

}

.payment-method_sw-backdrop-second[data-v-7f05abe6] {
    transform: translate(calc(100% + 2px))
}

.payment-method_error[data-v-7f05abe6] {
    padding-top: 20px
}

.payment-method__img--plastic[data-v-7f05abe6] {
    height: 12px;
    margin-left: 8px;
    width: 67px
}

.error[data-v-7f05abe6] {
    align-items: center;
    background: #ffffff1a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: Jost;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 12px 0
}

.error_header[data-v-7f05abe6] {
    color: #ffe500;
    display: flex
}

.error_description[data-v-7f05abe6] {
    display: flex;
    margin-top: 10px
}

.error_description span[data-v-7f05abe6] {
    color: #00ff93;
    margin: 0 4px
}

.error_btns[data-v-7f05abe6] {
    gap: 8px;
    margin-top: 14px
}

.error_btn[data-v-7f05abe6],
.error_btns[data-v-7f05abe6] {
    display: flex;
    justify-content: center
}

.error_btn[data-v-7f05abe6] {
    align-items: center;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    line-height: 12px;
    padding: 0 20px
}

.error_btn[data-v-7f05abe6]:hover {
    background: #ffffff0d
}

.error_btn-top-up[data-v-7f05abe6] {
    background: #00ff93;
    border-color: transparent;
    border-radius: 38px;
    color: #000
}

.error_btn-top-up[data-v-7f05abe6]:hover {
    background: #00e175
}

@media (max-width:767px) {
    .payment-method_switch[data-v-7f05abe6] {
        flex-direction: column;
        height: 80px
    }

    .payment-method_tab[data-v-7f05abe6] {
        height: 40px;
        margin: 0 auto
    }

    .payment-method_tab-coins--discount[data-v-7f05abe6] {
        margin-left: 28px;
        position: unset;
        white-space: nowrap
    }

    .payment-method_sw-backdrop[data-v-7f05abe6] {
        height: 50%;
        left: -1px;
        right: -1px;
        width: calc(100% + 2px)
    }

    .payment-method_sw-backdrop-second[data-v-7f05abe6] {
        transform: translateY(calc(100% + 2px))
    }
}

.btn[data-v-95bb1f6a] {
    align-items: center;
    border: none;
    border-radius: 16px;
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    justify-content: center;
    line-height: 25px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.btn span[data-v-95bb1f6a] {
    position: inherit;
    z-index: 2;
    font-family: "Geologica", sans-serif;

}

.btn[data-v-95bb1f6a]:hover:before {
    opacity: 1
}

.btn.google-btn[data-v-95bb1f6a] {
    background: #ffffff1f
}

.btn.google-btn[data-v-95bb1f6a]:before {
    display: none
}

.btn.main-page[data-v-95bb1f6a] {
    background: #00ff93;
    color: #000;
    font-family: Geometria, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center
}

.btn.main-page[data-v-95bb1f6a]:before {
    display: none
}

.btn.main-page[data-v-95bb1f6a]:hover {
    background: #00e175
}

.btn.dense-font[data-v-95bb1f6a] {
    font-size: 16px;
    line-height: 20px
}

@media (max-width:1550px) and (min-width:1281px) {
    .btn[data-v-95bb1f6a] {
        height: 52px
    }
}