.btn-bell[data-v-e6d5be6b] {
    align-items: center;
    background: #ffffff1a;
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    height: 42px;
    justify-content: center;
    width: 42px
}

.btn-bell[data-v-e6d5be6b]:hover {
    background: #ffffff26
}

.btn-bell__notify[data-v-e6d5be6b] {
    background: #ff3e60;
    border-radius: 25px;
    display: none;
    height: 8px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 8px
}

.btn-bell.notify .btn-bell__notify[data-v-e6d5be6b] {
    display: block
}

.btn-bell__img[data-v-e6d5be6b] {
    display: none
}

.btn-bell__img--success[data-v-e6d5be6b] {
    height: 21px;
    width: 19px
}

.btn-bell__img--process[data-v-e6d5be6b] {
    height: 21px;
    width: 18px
}

.btn-bell__img--error[data-v-e6d5be6b],
.btn-bell__img--pending[data-v-e6d5be6b] {
    height: 22px;
    width: 17px
}

.btn-bell.complete.focus[data-v-e6d5be6b] {
    border-color: #00ff9333
}

.btn-bell.complete .btn-bell__img--success[data-v-e6d5be6b] {
    display: block
}

.btn-bell.in_progress.focus[data-v-e6d5be6b] {
    border-color: #ffe50033
}

.btn-bell.in_progress .btn-bell__img--progress[data-v-e6d5be6b] {
    display: block
}

.btn-bell.error.focus[data-v-e6d5be6b],
.btn-bell.pending.focus[data-v-e6d5be6b] {
    border-color: #ff3e6033
}

.btn-bell.error .btn-bell__img--error[data-v-e6d5be6b],
.btn-bell.pending .btn-bell__img--error[data-v-e6d5be6b] {
    display: block
}

.order-status[data-v-e6d5be6b] {
    margin-right: 24px;
    position: relative
}

.order-tooltip[data-v-e6d5be6b] {
    color: #fff;
    left: 50%;
    position: absolute;
    top: calc(100% + 8px);
    transform: translate(-50%);
    width: 250px
}

.order-tooltip_arrow[data-v-e6d5be6b] {
    background: #2a2f3f;
    -webkit-clip-path: polygon(50% 0, 117px 100%, 134px 100%);
    clip-path: polygon(50% 0, 117px 100%, 134px 100%);
    height: 9px;
    margin-bottom: -1px
}

.order-tooltip_body[data-v-e6d5be6b] {
    background: #2a2f3f;
    border-radius: 8px;
    padding: 16px 24px
}

.order-item[data-v-e6d5be6b] {
    color: #fff;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px
}

.order-item__line[data-v-e6d5be6b] {
    align-items: center;
    display: flex
}

.order-item__label[data-v-e6d5be6b] {
    align-items: center;
    max-width: 143px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.order-item__copy[data-v-e6d5be6b] {
    cursor: pointer;
    margin-left: 8px
}

.order-item__copy img[data-v-e6d5be6b] {
    height: 18px;
    min-width: 18px
}

.order-item__arrow[data-v-e6d5be6b] {
    cursor: pointer;
    margin-left: 26px
}

.order-item__arrow img[data-v-e6d5be6b] {
    transform: rotate(180deg)
}

.order-item__dots[data-v-e6d5be6b] {
    align-items: center;
    display: flex;
    margin-top: 8px
}

.order-item__dot[data-v-e6d5be6b] {
    border-radius: 25px;
    height: 8px;
    min-width: 8px
}

.order-item__dot[data-v-e6d5be6b]:first-child {
    background: #fff;
    margin-left: 40px
}

.order-item__dot[data-v-e6d5be6b]:nth-child(3) {
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 25px;
    height: 8px;
    margin-right: 32px;
    opacity: .3;
    width: 8px
}

.order-item__dot--img--error[data-v-e6d5be6b],
.order-item__dot--img--success[data-v-e6d5be6b] {
    display: none
}

.order-item__dotted[data-v-e6d5be6b] {
    border-bottom: 1.5px dashed #fff;
    height: 0;
    margin: 0 4px;
    opacity: .3;
    width: 100%
}

.order-item__statuses[data-v-e6d5be6b] {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2px
}

.order-item__status-text[data-v-e6d5be6b]:nth-child(2) {
    opacity: .3
}

.order-item__status-text--error[data-v-e6d5be6b],
.order-item__status-text--pending[data-v-e6d5be6b] {
    display: none
}

.order-item.complete .order-item__dot[data-v-e6d5be6b]:first-child,
.order-item.error .order-item__dot[data-v-e6d5be6b]:first-child,
.order-item.pending .order-item__dot[data-v-e6d5be6b]:first-child {
    opacity: .3
}

.order-item.complete .order-item__dot[data-v-e6d5be6b]:nth-child(3),
.order-item.error .order-item__dot[data-v-e6d5be6b]:nth-child(3),
.order-item.pending .order-item__dot[data-v-e6d5be6b]:nth-child(3) {
    border: 0;
    opacity: 1
}

.order-item.complete .order-item__status-text[data-v-e6d5be6b]:first-child,
.order-item.error .order-item__status-text[data-v-e6d5be6b]:first-child,
.order-item.pending .order-item__status-text[data-v-e6d5be6b]:first-child {
    opacity: .3
}

.order-item.complete .order-item__status-text[data-v-e6d5be6b]:nth-child(2),
.order-item.error .order-item__status-text[data-v-e6d5be6b]:nth-child(2),
.order-item.pending .order-item__status-text[data-v-e6d5be6b]:nth-child(2) {
    opacity: 1
}

.order-item.error .order-item__dot--img--error[data-v-e6d5be6b] {
    display: block
}

.order-item.error .order-item__dot[data-v-e6d5be6b]:first-child {
    opacity: .3
}

.order-item.error .order-item__dot[data-v-e6d5be6b]:nth-child(3) {
    margin-right: 25px
}

.order-item.error .order-item__status-text--default[data-v-e6d5be6b] {
    display: none
}

.order-item.error .order-item__status-text--error[data-v-e6d5be6b] {
    color: #ff3e60;
    display: inline
}

.order-item.pending .order-item__dot--img--error[data-v-e6d5be6b] {
    display: block
}

.order-item.pending .order-item__dot[data-v-e6d5be6b]:first-child {
    opacity: .3
}

.order-item.pending .order-item__dot[data-v-e6d5be6b]:nth-child(3) {
    margin-right: 25px
}

.order-item.pending .order-item__status-text--default[data-v-e6d5be6b] {
    display: none
}

.order-item.pending .order-item__status-text--pending[data-v-e6d5be6b] {
    color: #ff3e60;
    display: inline
}

.order-item.complete .order-item__dot--img--success[data-v-e6d5be6b] {
    display: block
}

.order-item.complete .order-item__status-text[data-v-e6d5be6b]:nth-child(2) {
    color: #00ff93
}

.order-item[data-v-e6d5be6b]:not(:first-child) {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    margin-top: 16px;
    padding-top: 16px
}

.tickets-balance[data-v-7db6e5b0] {
    align-items: center;
    background: #ffffff1a;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    gap: 4px;
    height: 40px;
    letter-spacing: 0;
    line-height: 22px;
    padding: 0 12px;
    text-align: left
}

.tickets-balance[data-v-7db6e5b0],
.tickets-balance_container[data-v-7db6e5b0] {
    position: relative
}

.tickets-balance_container:hover .top-up-balance[data-v-7db6e5b0] {
    display: inherit
}

.tickets-balance_amount[data-v-7db6e5b0] {
    white-space: nowrap
}

.tickets-balance[data-v-7db6e5b0]:hover {
    opacity: .75
}

.top-up-balance[data-v-7db6e5b0] {
    color: #fff;
    display: none;
    left: 50%;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    transform: translate(-50%);
    width: 234px
}

.top-up-balance a[data-v-7db6e5b0] {
    color: #fff
}

.top-up-balance_arrow[data-v-7db6e5b0] {
    background: #2a2f3f;
    -webkit-clip-path: polygon(50% 0, 108px 100%, 126px 100%);
    clip-path: polygon(50% 0, 108px 100%, 126px 100%);
    height: 9px;
    margin-bottom: -1px
}

.top-up-balance_body[data-v-7db6e5b0] {
    background: #2a2f3f;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    padding: 16px 24px
}

@media (max-width:767px) {
    .tickets-balance[data-v-7db6e5b0] {
        font-size: 12px;
        line-height: 12px;
        padding: 0 8px
    }
}

.gold-balance[data-v-ceedbe6c] {
    border-radius: 32px;
    color: #000;
    cursor: pointer;
    font-family: Jost, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    gap: 4px;
    height: 40px;
    line-height: 14px;
    padding: 0 12px;
    position: relative
}

.gold-balance[data-v-ceedbe6c],
.gold-balance_plus[data-v-ceedbe6c] {
    align-items: center;
    background: #ffe500;
    display: flex
}

.gold-balance_plus[data-v-ceedbe6c] {
    border: 1px solid #121729;
    border-radius: 20px;
    height: 16px;
    justify-content: center;
    line-height: .1;
    position: absolute;
    right: 2px;
    top: -3px;
    width: 16px
}

.gold-balance_container[data-v-ceedbe6c] {
    position: relative
}

.gold-balance[data-v-ceedbe6c]:hover {
    opacity: .75
}

.top-up-balance[data-v-ceedbe6c] {
    color: #fff;
    left: 50%;
    position: absolute;
    top: calc(100% + 4px);
    transform: translate(-50%);
    width: 234px
}

.top-up-balance a[data-v-ceedbe6c] {
    color: #fff
}

.top-up-balance_arrow[data-v-ceedbe6c] {
    background: #303030;
    -webkit-clip-path: polygon(50% 0, 108px 100%, 126px 100%);
    clip-path: polygon(50% 0, 108px 100%, 126px 100%);
    height: 9px;
    margin-bottom: -1px
}

.top-up-balance_body[data-v-ceedbe6c] {
    background: #303030;
    border-radius: 8px;
    padding: 16px 24px
}

.top-up-balance_text[data-v-ceedbe6c] {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px
}

.top-up-balance_btns[data-v-ceedbe6c] {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr;
    margin-top: 12px
}

.top-up-balance_btn[data-v-ceedbe6c] {
    align-items: center;
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 38px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center
}

.top-up-balance a[data-v-ceedbe6c] {
    background: #ffffff1a;
    border-color: transparent
}

@media (max-width:767px) {
    .gold-balance[data-v-ceedbe6c] {
        font-size: 12px;
        line-height: 12px;
        padding: 0 8px
    }
}

.bonuses[data-v-b541d52a] {
    align-items: center;
    background: #00ff931a;
    border-radius: 32px;
    color: #00ff93;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0 12px;
    position: relative
}

.bonuses_amount[data-v-b541d52a] {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin-left: 4px
}

.bonuses_coin[data-v-b541d52a] {
    margin-left: 3px
}

@media (max-width:767px) {
    .bonuses[data-v-b541d52a] {
        padding: 0 8px
    }

    .bonuses_amount[data-v-b541d52a] {
        font-size: 12px;
        line-height: 12px
    }
}

.socials[data-v-f96742db] {
    display: flex;
    margin-top: 28px
}

.socials a[data-v-f96742db] {
    transition: opacity .1s ease
}

.socials_img[data-v-f96742db] {
    filter: invert(.2);
    height: 35px;
    width: 35px
}

.socials_img-desk[data-v-f96742db] {
    display: block
}

.socials_img-mobile[data-v-f96742db] {
    display: none
}

.socials a[data-v-f96742db]:hover {
    opacity: .5
}

.socials_vk[data-v-f96742db] {
    margin-right: 8px
}

@media (max-width:1550px) and (min-width:1281px) {
    .socials[data-v-f96742db] {
        margin-top: 20px
    }
}

@media (max-width:1110px) {
    .socials[data-v-f96742db] {
        display: flex;
        justify-content: center;
        margin-top: 80px
    }

    .socials_img[data-v-f96742db] {
        height: 60px;
        width: 60px
    }

    .socials_img-desk[data-v-f96742db] {
        display: none
    }

    .socials_img-mobile[data-v-f96742db] {
        display: block
    }
}

@media (max-width:610px) {
    .socials[data-v-f96742db] {
        margin-top: 60px
    }
}

.navigation[data-v-b1d2bdf2] {
    display: flex
}

.navigation_person[data-v-b1d2bdf2] {
    align-items: center;
    background-color: #ffffff1a;
    border-radius: 38px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px
}

.navigation_person img[data-v-b1d2bdf2] {
    height: 18px;
    width: 18px
}

.navigation_list[data-v-b1d2bdf2] {
    display: none;
    padding-top: 4px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 999
}

.navigation_list ul[data-v-b1d2bdf2] {
    background: #4f5878;
    border-radius: 12px;
    padding: 24px
}

.navigation_list ul li[data-v-b1d2bdf2] {
    cursor: pointer;
    margin-bottom: 12px;
    text-align: left
}

.navigation_list ul li a[data-v-b1d2bdf2] {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 134%;
    white-space: nowrap
}

.navigation_list ul li:first-child a[data-v-b1d2bdf2] {
    font-weight: 500
}

.navigation_list ul li[data-v-b1d2bdf2]:last-child {
    margin-bottom: 0
}

.navigation_container[data-v-b1d2bdf2] {
    margin-left: 4px;
    position: relative
}

@media (min-width:1111px) {
    .navigation_container:hover .navigation_list[data-v-b1d2bdf2] {
        display: block
    }
}

@media (max-width:1110px) {
    .navigation_container[data-v-b1d2bdf2] {
        margin-left: 8px;
        position: unset
    }

    .navigation_list[data-v-b1d2bdf2] {
        align-items: center;
        background: linear-gradient(180deg, #3e329a, #171e37);
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        left: 0;
        padding: 37px 94px 49px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999
    }

    .navigation_list ul[data-v-b1d2bdf2] {
        background: none;
        margin: 40px auto 0;
        padding: 0
    }

    .navigation_list ul li[data-v-b1d2bdf2] {
        margin-bottom: 24px
    }

    .navigation_list ul li a[data-v-b1d2bdf2] {
        font-size: 20px;
        font-weight: 400
    }

    .navigation_list .socials[data-v-b1d2bdf2] {
        margin: auto 0 0
    }

    .navigation_logout[data-v-b1d2bdf2] {
        cursor: pointer;
        font-size: 20px;
        line-height: 134%;
        margin-top: 32px
    }

    .navigation_close[data-v-b1d2bdf2] {
        align-items: center;
        background: #2b276e;
        border-radius: 12px;
        display: flex;
        height: 48px;
        justify-content: center;
        margin-bottom: 46px;
        margin-left: auto;
        padding: 0;
        width: 50px
    }

    .navigation_close img[data-v-b1d2bdf2] {
        height: 16px;
        width: 16px
    }
}

@media (max-width:1110px) and (min-width:608px) {
    .navigation_list[data-v-b1d2bdf2] {
        padding: 92px calc(50vw - 304px) 49px
    }
}

@media (max-width:607px) and (min-width:611px) {
    .navigation_list[data-v-b1d2bdf2] {
        padding: 92px 0 49px
    }
}

@media (max-width:610px) {
    .navigation_list[data-v-b1d2bdf2] {
        padding: 10px 10px 90px
    }

    .navigation_logout[data-v-b1d2bdf2] {
        margin-top: 24px
    }
}

@media (max-height:400px) {
    .navigation_list[data-v-b1d2bdf2] {
        padding: 10px
    }

    .navigation_list ul[data-v-b1d2bdf2] {
        margin-top: -20px
    }

    .navigation_list ul li[data-v-b1d2bdf2] {
        margin-bottom: 10px
    }

    .navigation_list .socials[data-v-b1d2bdf2] {
        margin-top: 20px
    }

    .navigation_close[data-v-b1d2bdf2] {
        margin-bottom: 10px
    }

    .navigation_logout[data-v-b1d2bdf2] {
        margin-top: 24px
    }

    .navigation-socials img[data-v-b1d2bdf2] {
        height: 40px;
        width: 40px
    }
}

.games_input[data-v-a237d734] {
    height: 48px;
    position: relative;
    width: 330px
}

.games_input .search-loading[data-v-a237d734] {
    height: 20px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px
}

.games_input input[data-v-a237d734] {
    background: #ffffff0d;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 12px;
    color: #fff;
    display: block;
    font-family: Geometria, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 16px;
    padding: 23px 50px 23px 40px;
    position: absolute;
    width: 100%;
    z-index: 1
}

.games_input input[data-v-a237d734]:focus-visible {
    outline: none
}

.games_input.input-error input[data-v-a237d734] {
    border-color: #ff5190;
    color: #ff5190
}

.games_input.input-error input[data-v-a237d734]::-moz-placeholder {
    color: #ff5190
}

.games_input.input-error input[data-v-a237d734]::placeholder {
    color: #ff5190
}

.games_input svg[data-v-a237d734] {
    left: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.games_input-item[data-v-a237d734] {
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    width: 100%
}

.games_input-item[data-v-a237d734]:last-of-type {
    border: none
}

.games_input-item h1[data-v-a237d734] {
    color: #fff;
    font-family: Geometria, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: left
}

.games_input-item_discount[data-v-a237d734] {
    background: #00ff92;
    border-radius: 4px;
    -webkit-clip-path: polygon(0 50%, 15px 0, 100% 0, 100% 100%, 15px 100%);
    clip-path: polygon(0 50%, 15px 0, 100% 0, 100% 100%, 15px 100%);
    color: #2e2e2e;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    left: 100%;
    line-height: 14px;
    padding: 8px 4px 8px 19px;
    position: absolute;
    top: -19px;
    transform: rotate(-12.158deg);
    z-index: 1
}

.games_input-item_price-wrap[data-v-a237d734] {
    display: flex;
    margin-left: auto
}

.games_input-item_price-wrap.games_input-search[data-v-a237d734] {
    margin-right: 35px
}

.games_input-item_price-wrap.games_input-search .games_input-item_discount[data-v-a237d734] {
    -webkit-clip-path: polygon(0 50%, 8px 0, 100% 0, 100% 100%, 8px 100%);
    clip-path: polygon(0 50%, 8px 0, 100% 0, 100% 100%, 8px 100%);
    font-size: 8.4px;
    line-height: 9px;
    padding: 4px 5px 3px 8px
}

.games_input-item_prices[data-v-a237d734] {
    position: relative
}

.games_input-item_price-old[data-v-a237d734] {
    font-size: 12px;
    margin-bottom: 2px;
    opacity: .5;
    text-decoration-line: line-through
}

.games_input-item_price-new[data-v-a237d734],
.games_input-item_price-old[data-v-a237d734] {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: 1
}

.games_input-item_price-new[data-v-a237d734] {
    font-size: 14px;
    position: relative
}

.games_input-item_price-new span[data-v-a237d734] {
    position: inherit;
    z-index: 2
}

.games_input-item_price-new-mini[data-v-a237d734] {
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    position: relative
}

.games_input-item_price-new-mini span[data-v-a237d734] {
    position: inherit;
    z-index: 2
}

.games_input-container[data-v-a237d734] {
    background: #2c2d32;
    border-radius: 12px;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 300px;
    overflow-y: scroll;
    padding: 4px 16px;
    position: absolute;
    right: 0;
    top: 54px;
    width: 424px;
    z-index: 1000
}

.games_input-container__full[data-v-a237d734] {
    width: 100%
}

.games_input-container-notFound[data-v-a237d734] {
    align-items: center;
    background: #2c2d32;
    border-radius: 12px;
    display: flex;
    height: 100px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 54px;
    width: 100%;
    z-index: 1000
}

@media (max-width:690px) {
    .games_input svg[data-v-a237d734] {
        right: 55px
    }

    .games_input input[data-v-a237d734] {
        margin: 0;
        width: 100%
    }
}

@media (max-width:440px) {
    .games_input-container[data-v-a237d734] {
        border-radius: 12px;
        height: -moz-fit-content;
        height: fit-content;
        max-height: 300px;
        overflow-y: scroll;
        padding: 4px 16px;
        position: absolute;
        top: 54px;
        width: 100%;
        z-index: 1000
    }

    .games_input-container-notFound[data-v-a237d734] {
        width: 100%
    }
}

.v-enter-active[data-v-a237d734],
.v-leave-active[data-v-a237d734] {
    transition: opacity .2s ease-in-out
}

.v-enter-from[data-v-a237d734],
.v-leave-to[data-v-a237d734] {
    opacity: 0
}

.opacity-1[data-v-ad1efa04] {
    opacity: 1 !important
}

.razprodazha[data-v-ad1efa04] {
    background: linear-gradient(90deg, #ff008a -15.09%, #ff3e60 99.82%);
    border-radius: 4px;
    color: #fff;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 2px 10px
}

.product-region-main[data-v-ad1efa04] {
    gap: 8px;
    justify-content: end;
    text-wrap: nowrap;
    width: auto
}

@media (max-width:1280px) {
    .product-region-main[data-v-ad1efa04] {
        text-wrap: unset
    }
}

.favourites[data-v-ad1efa04] {
    display: flex;
    flex-direction: column;
    width: 100%
}

.favourites__bottom[data-v-ad1efa04] {
    align-items: center;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    margin-top: 24px
}

.favourites__bottom__item[data-v-ad1efa04] {
    position: relative
}

.favourites__bottom__item__text[data-v-ad1efa04] {
    color: #fff;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    opacity: .5
}

.favourites__bottom__item__text[data-v-ad1efa04]:hover {
    color: #fff;
    cursor: pointer;
    opacity: 1
}

.favourites__bottom__item__important[data-v-ad1efa04] {
    background: red;
    border-radius: 50%;
    height: 6px;
    opacity: 1;
    position: absolute;
    right: -6px;
    top: 0;
    width: 6px;
    z-index: 1
}

.favourites-block[data-v-ad1efa04] {
    display: flex;
    gap: 16px;
    width: 100%
}

.favourites-block__left[data-v-ad1efa04] {
    width: 100%
}

.favourites-block__right[data-v-ad1efa04] {
    display: flex;
    gap: 16px
}

.favourites-block .favourites-button[data-v-ad1efa04] {
    align-items: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #ffffff40;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    letter-spacing: -.48px;
    text-align: center;
    transition-duration: .3s;
    transition-property: border-color, background-color;
    transition-timing-function: ease-in-out
}

@media (min-width:768px) {
    .favourites-block .favourites-button[data-v-ad1efa04] {
        grid-auto-flow: column;
        position: static;
        grid-column-gap: 8px;
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        background: #ffffff1a;
        border: 1px solid hsla(0, 0%, 100%, .1);
        border-radius: 12px;
        height: auto;
        padding: 12px 25px;
        width: auto
    }
}

@media (any-pointer:fine) {
    .favourites-block .favourites-button[data-v-ad1efa04]:hover {
        background-color: #ffffff26;
        border-color: #ffffff40
    }

    .favourites-block .favourites-button[data-v-ad1efa04]:active {
        background-color: #ffffff0d;
        border-color: #ffffff40
    }
}

.favourites-block .favourites-button-text[data-v-ad1efa04] {
    display: none
}

@media (min-width:768px) {
    .favourites-block .favourites-button-text[data-v-ad1efa04] {
        display: block
    }
}

.widget[data-v-a74a3338] {
    background: #121729;
    flex-wrap: wrap;
    font-family: "Jost", sans-serif;;
    font-size: 12px;
    font-weight: 400;
    height: 83px;
    left: 0;
    line-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .2s ease-in-out;
    z-index: 999
}

.widget[data-v-a74a3338],
.widget .search-block[data-v-a74a3338] {
    display: flex;
    justify-content: center
}

.widget .search-block[data-v-a74a3338] {
    border-bottom: 1px solid hsla(0, 0%, 100%, .102);
    margin-top: 30px;
    width: 100%
}

.widget .search-block__row[data-v-a74a3338] {
    max-width: 1560px
}

@media (max-width:1550px) and (min-width:768px) {
    .widget .search-block__row[data-v-a74a3338] {
        max-width: 1256px
    }
}

@media (max-width:1280px) {
    .widget .search-block__row[data-v-a74a3338] {
        padding: 0 18px
    }
}

@media (max-width:768px) {
    .widget .search-block[data-v-a74a3338] {
        display: none
    }
}

.widget_region[data-v-a74a3338] {
    background: #ffffff1a;
    border-radius: 28px;
    cursor: pointer;
    margin-right: 16px;
    padding: 10px
}

.widget_container[data-v-a74a3338] {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    max-width: 1560px;
    padding: 10px 0;
    position: relative;
    transform: scaleY(1);
    transition-duration: .2s;
    transition-property: background-color, backprop-gilter, transform;
    transition-timing-function: ease-in-out;
    width: 100%
}

.widget_logo[data-v-a74a3338] {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content
}

.widget_logo a[data-v-a74a3338] {
    color: #fff
}

.widget_logo img[data-v-a74a3338] {
    height: 14px;
    margin-bottom: 10px;
    width: 138px
}

.widget_title[data-v-a74a3338] {
    font-weight: 500
}

.widget_items[data-v-a74a3338] {
    bottom: 0;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%);
    grid-column-gap: 12px;
    justify-content: center
}

.widget_account[data-v-a74a3338],
.widget_items[data-v-a74a3338] {
    align-items: center;
    display: flex
}

.widget_account[data-v-a74a3338] {
    height: 100%;
    justify-content: flex-end;
    width: 237px
}

.widget_account .login-btn[data-v-a74a3338] {
    width: 140px
}

@media (max-width:1280px) {
    .widget_account .login-btn[data-v-a74a3338] {
        min-width: 120px
    }
}

.widget.widget__gifts[data-v-a74a3338] {
    background: #0f1014;
    height: auto
}

@media (max-width:767px) {
    .widget.widget__gifts[data-v-a74a3338] {
        height: 53px
    }
}

@media (max-width:1280px) {
    .widget.widget__gifts[data-v-a74a3338] {
        margin: 0
    }
}

.widget.widget__gifts .widget_container[data-v-a74a3338] {
    background: inherit;
    padding: 26px 0 0
}

@media (max-width:1280px) {
    .widget.widget__gifts .widget_container[data-v-a74a3338] {
        height: 88px;
        padding: 26px 18px 0
    }
}

@media (max-width:767px) {
    .widget.widget__gifts .widget_container[data-v-a74a3338] {
        height: 100%;
        padding: 15px 18px 10px
    }
}

.widget.widget__gifts .widget__items[data-v-a74a3338] {
    top: unset
}

.widget.widget__gifts.widget__show[data-v-a74a3338] {
    transform: translateY(-68px)
}

@media (max-width:1280px) {
    .widget.widget__gifts.widget__show[data-v-a74a3338] {
        transform: translateY(-88px)
    }
}

@media (max-width:767px) {
    .widget.widget__gifts.widget__show[data-v-a74a3338] {
        transform: inherit
    }
}

.widget.widget__gifts .widget_scroll[data-v-a74a3338] {
    background: inherit
}

.widget-item[data-v-a74a3338] {
    align-items: center;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-weight: inherit;
    padding: 7px;
    position: relative;
    text-align: center
}

.widget-item_text[data-v-a74a3338] {
    font-family: Jost, Arial, sans-serif;
    font-weight: 400;
    margin-left: 8px;
    text-align: left;
    white-space: nowrap
}

.widget-item_name[data-v-a74a3338] {
    color: #fff;
    font-size: 14px;
    line-height: 14px
}

.widget-item_description[data-v-a74a3338] {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    opacity: .5
}

.widget-item_img[data-v-a74a3338] {
    align-items: center;
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 4px;
    display: flex;
    height: 32px;
    justify-content: center;
    position: relative;
    width: 32px
}

.widget-item_img[data-v-a74a3338]:hover {
    opacity: .9
}

.widget-item_img-box[data-v-a74a3338] {
    height: 24px;
    width: 24px
}

.widget-item_img-sub[data-v-a74a3338] {
    filter: drop-shadow(0 0 3.3333334923px rgba(0, 0, 0, .6));
    height: 16px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 16px
}

.widget-item_new[data-v-a74a3338] {
    background: #00ff92;
    border-radius: 23px;
    color: #121729;
    display: none;
    font-family: Jost;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    padding: 0 8px;
    position: absolute;
    right: 8px;
    top: -7px
}

.widget-item.widget_new[data-v-a74a3338] {
    border-color: #00ff9226
}

.widget-item.widget_new .widget-item_new[data-v-a74a3338] {
    display: block
}

.widget-item.--active[data-v-a74a3338] {
    background: #ffffff0d;
    border: 1px solid transparent
}

.widget-item.--active .widget-item_img[data-v-a74a3338] {
    background: #ffffff1a;
    border: 1px solid transparent
}

.widget-item[data-v-a74a3338]:hover {
    background: #ffffff0d
}

.widget-sticky[data-v-a74a3338] {
    height: 100px;
    left: 0;
    position: sticky;
    right: 0;
    top: 0
}

@media (max-width:1550px) and (min-width:768px) {
    .widget[data-v-a74a3338] {
        height: 61px
    }

    .widget .widget_container[data-v-a74a3338] {
        max-width: 1256px
    }
}

@media (max-width:1280px) {
    .widget[data-v-a74a3338] {
        background: unset;
        height: 88px;
        margin: 0 18px
    }

    .widget_container[data-v-a74a3338] {
        background: #121729;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-sizing: border-box;
        padding: 12px 16px;
        z-index: 999
    }

    .widget_logo img[data-v-a74a3338] {
        height: 11px;
        margin-bottom: 2px;
        width: 107px
    }

    .widget_title[data-v-a74a3338] {
        font-size: 9px
    }

    .widget_items[data-v-a74a3338] {
        top: 14px;
        grid-column-gap: 7px
    }

    .widget-item[data-v-a74a3338] {
        border: none;
        flex-direction: column;
        padding: 0;
        width: 68px
    }

    .widget-item.--active[data-v-a74a3338] {
        background: unset
    }

    .widget-item.--active .widget-item_img[data-v-a74a3338] {
        background: #ffffff0d
    }

    .widget-item_img[data-v-a74a3338] {
        border-radius: 6px;
        width: 68px
    }

    .widget-item_text[data-v-a74a3338] {
        margin-left: 0;
        margin-top: 4px;
        text-align: center;
        white-space: unset
    }

    .widget-item_description[data-v-a74a3338] {
        display: none
    }

    .widget-item_new[data-v-a74a3338] {
        padding: 0 4px;
        right: 4px
    }

    .widget-item.widget_new .widget-item_new[data-v-a74a3338] {
        display: block
    }

    .widget-item.widget_new .widget-item_img[data-v-a74a3338] {
        border-color: #00ff9226
    }

    .widget-item[data-v-a74a3338]:hover {
        background: transparent
    }

    .widget-item:hover .widget-item_img[data-v-a74a3338] {
        background: #ffffff0d
    }
}

@media (max-width:1280px) and (min-width:768px) {
    .widget_container[data-v-a74a3338] {
        max-width: 608px
    }

    .widget-item_name[data-v-a74a3338] {
        font-size: 9px;
        height: 23px;
        line-height: 1
    }

    .widget_account[data-v-a74a3338] {
        width: 150px
    }

    .widget_account .login-btn[data-v-a74a3338] {
        height: 34px
    }
}

@media (max-width:767px) {
    .widget[data-v-a74a3338] {
        height: 53px;
        margin: 0 10px
    }

    .widget_container[data-v-a74a3338] {
        padding: 15px 16px 10px
    }

    .widget_account .login-btn[data-v-a74a3338] {
        height: 34px;
        width: 127px
    }

    .widget_logo img[data-v-a74a3338] {
        height: 13px;
        margin-bottom: 4px;
        width: 130px
    }

    .widget_title[data-v-a74a3338] {
        font-size: 15px
    }

    .widget_scroll[data-v-a74a3338] {
        background: #121729;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 58px 0 8px;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-74px);
        transition: transform .3s ease-in-out;
        z-index: 666
    }

    .widget_scroll.show[data-v-a74a3338] {
        transform: translateY(0)
    }

    .widget_items[data-v-a74a3338] {
        grid-column-gap: 7px;
        position: unset;
        transform: unset
    }
}

.sale-note[data-v-a74a3338] {
    display: none
}

@media (max-width:767px) {
    .sale-note[data-v-a74a3338] {
        align-items: center;
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        background: #ff3e6080;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        inset: 132px 0 auto;
        justify-content: center;
        letter-spacing: -.36px;
        line-height: .96;
        padding: 6px;
        position: absolute;
        transition-duration: .3s;
        transition-property: top;
        transition-timing-function: ease-in-out
    }

    .sale-note.transformed[data-v-a74a3338] {
        top: 53px
    }

    .sale-note__icon[data-v-a74a3338] {
        margin-left: 8px
    }

    .sale-note__date[data-v-a74a3338] {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: -.3px;
        line-height: .96;
        margin-left: 4px
    }
}