.working-better[data-v-38a38540] {
    background: #ffe5001a;
    border-radius: 12px;
    color: #ffe500;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 12px;
    padding: 20px 0;
    text-align: center;
    width: 100%
}