.arena-breakout.purchase-form .purchase-form__header[data-v-6854aaf8] {
    background-image: url(../assets/arena-breakout/decoration.webp), linear-gradient(270deg, #ff7f47, rgba(56, 17, 0, .35) 96.09%)
}

.arena-breakout.purchase-form .purchase-form__header-image[data-v-6854aaf8] {
    height: 181px;
    right: -28px;
    width: 404px
}

.arena-breakout.purchase-form .purchase-form__logo[data-v-6854aaf8] {
    background-image: url(../assets/arena-breakout/logo.webp)
}

.arena-breakout.purchase-form .purchase-form__logo-label[data-v-6854aaf8] {
    bottom: -65px;
    height: 128px;
    width: 160px
}

@media (max-width:1620px) {
    .arena-breakout.purchase-form .purchase-form__header-image[data-v-6854aaf8] {
        height: 145px;
        right: -22px;
        width: 323px
    }
}

@media (max-width:1280px) and (min-width:768px) {
    .arena-breakout.purchase-form .purchase-form__header-image[data-v-6854aaf8] {
        height: 181px;
        right: -28px;
        width: 404px
    }

    .arena-breakout.purchase-form .purchase-form__header-text[data-v-6854aaf8] {
        max-width: 430px
    }
}

@media (max-width:767px) {
    .arena-breakout.purchase-form .purchase-form__header[data-v-6854aaf8] {
        padding-right: 9px
    }

    .arena-breakout.purchase-form .purchase-form__header-image[data-v-6854aaf8] {
        bottom: 62px;
        height: 129px;
        width: 195px
    }

    .arena-breakout.purchase-form .purchase-form__logo-label[data-v-6854aaf8] {
        bottom: -57px;
        height: 111px;
        width: 138px
    }
}