.nikke.purchase-form .purchase-form__header[data-v-3f125c8d] {
    background-image: url(../assets/nikke/decoration.webp), linear-gradient(270deg, #6b8bfd -.04%, rgba(36, 39, 51, .9) 71.9%)
}

.nikke.purchase-form .purchase-form__header-image[data-v-3f125c8d] {
    height: 197px;
    right: -37px;
    width: 414px
}

.nikke.purchase-form .purchase-form__header-text[data-v-3f125c8d] {
    max-width: 440px;
    z-index: 2
}

.nikke.purchase-form .purchase-form__logo[data-v-3f125c8d] {
    background-image: url(../assets/nikke/logo.webp)
}

.nikke.purchase-form .purchase-form__logo-label[data-v-3f125c8d] {
    bottom: -24px;
    height: 47px;
    width: 112px
}

@media (max-width:767px) {
    .nikke.purchase-form .purchase-form__header[data-v-3f125c8d] {
        padding-right: 9px
    }

    .nikke.purchase-form .purchase-form__header-image[data-v-3f125c8d] {
        bottom: 76px;
        height: 116px;
        right: -10px;
        width: 164px
    }

    .nikke.purchase-form .purchase-form__logo-label[data-v-3f125c8d] {
        bottom: -21px;
        height: 40px;
        width: 96px
    }
}