@keyframes shine-d47b18a0 {
    to {
        background-position-x: -200%
    }
}

.product-label[data-v-d47b18a0] {
    align-items: center;
    background: hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: -moz-fit-content;
    height: fit-content;
    line-height: normal;
    padding: 6px 8px;
    width: 100%;
    width: -moz-fit-content;
    width: fit-content
}

.product-label__content[data-v-d47b18a0] {
    display: flex
}

.product-label__img[data-v-d47b18a0],
.product-label__loading[data-v-d47b18a0] {
    max-height: 20px;
    max-width: 120px
}

.product-label__loading--skeleton[data-v-d47b18a0] {
    animation: shine-d47b18a0 1.5s linear infinite;
    background: hsla(0, 0%, 100%, .1);
    background: linear-gradient(110deg, hsla(0, 0%, 93%, .4) 8%, hsla(0, 0%, 96%, .1) 18%, hsla(0, 0%, 93%, .4) 33%);
    background-size: 200% 100%;
    border-radius: 10px;
    height: 14px;
    margin: 3px 0;
    width: 100px
}

.product-label__img[data-v-d47b18a0] {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-left: 4px
}

.product-label img[data-v-d47b18a0] {
    max-height: 20px;
    max-width: 20px
}

.product-label__title[data-v-d47b18a0] {
    white-space: normal
}

.product-label .customDragonheirClass[data-v-d47b18a0] {
    white-space: nowrap
}