.tickets-balance-info[data-v-6256417b] {
    display: flex;
    flex-direction: column
}

.tickets-balance-info__header[data-v-6256417b] {
    font-family: Geometria;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    text-align: left
}

.tickets-balance-info__content[data-v-6256417b] {
    align-items: center;
    background: #ffffff0d;
    border-radius: 8px;
    display: flex;
    height: 48px;
    justify-content: center;
    margin-top: 8px
}

.tickets-balance-info__row[data-v-6256417b] {
    display: flex;
    gap: 2px
}

.tickets-balance-info__img[data-v-6256417b] {
    height: 28px;
    width: 24px
}

.tickets-balance-info__btn[data-v-6256417b] {
    align-items: center;
    background: #00ff93;
    border-radius: 8px;
    color: #000;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    gap: 8px;
    height: 40px;
    justify-content: center;
    letter-spacing: 0;
    line-height: 14px;
    margin-top: 8px
}

.tickets-balance-info__btn[data-v-6256417b]:hover {
    background: #00e175
}

.kupilliard[data-v-6256417b] {
    color: #ffffffb3;
    justify-content: space-between;
    letter-spacing: 0;
    line-height: 19px
}

.kupilliard[data-v-6256417b],
.kupilliard_item[data-v-6256417b] {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-align: left
}

.kupilliard_item[data-v-6256417b] {
    align-items: center;
    letter-spacing: .1em;
    line-height: 22px
}

.kupilliard_item--bronze[data-v-6256417b] {
    color: #c78262
}

.kupilliard_item--silver[data-v-6256417b] {
    color: #a4d4f7
}

.kupilliard_item--gold[data-v-6256417b] {
    color: #ffe500
}

.tickets-balance-info--only-cards .tickets-balance-info__content[data-v-6256417b] {
    display: contents
}

.tickets-balance-info--only-cards .tickets-balance-info__header[data-v-6256417b] {
    display: none
}

.tickets-balance-info--dense .tickets-balance-info__img[data-v-6256417b] {
    height: 17px;
    width: 16px
}

.tickets-balance-info--dense .kupilliard_item[data-v-6256417b] {
    line-height: 1
}

.tickets-balance-info--reverse .tickets-balance-info__row[data-v-6256417b] {
    flex-direction: row-reverse;
    justify-content: flex-end
}

.tickets-balance-info--more-gap .tickets-balance-info__row[data-v-6256417b] {
    gap: 16px
}