.currency-switcher[data-v-99cf8def] {
    border: 1px solid #57548c;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-family: Geometria, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    line-height: 12px;
    position: relative
}

.currency-switcher img[data-v-99cf8def] {
    display: inline;
    height: 16px;
    width: 16px
}

.currency-switcher_tab[data-v-99cf8def] {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 2px;
    justify-content: center;
    padding: 9px 16px;
    white-space: nowrap;
    width: 64px;
    z-index: 2
}

.currency-switcher_tab-active[data-v-99cf8def]:hover {
    background: inherit !important;
    border-radius: 8px
}

.currency-switcher_tab[data-v-99cf8def]:hover {
    background: #ffffff0d;
    border-radius: 8px
}

.currency-switcher_backdrop[data-v-99cf8def] {
    border-radius: 8px;
    bottom: -1px;
    left: -1px;
    position: absolute;
    top: -1px;
    transition: transform .2s ease;
    width: 66px;
    z-index: 1
}

.currency-switcher_backdrop[data-v-99cf8def],
.currency-switcher_backdrop[data-v-99cf8def]:hover {
    background: #ffffff40
}

.currency-switcher.kzt .currency-switcher_backdrop[data-v-99cf8def] {
    transform: translate(64px)
}

.currency-switcher.usd .currency-switcher_backdrop[data-v-99cf8def] {
    transform: translate(128px)
}

@media (max-width:1110px) {
    .currency-switcher .currency-switcher[data-v-99cf8def] {
        font-size: 12px
    }
}

.commission[data-v-79beefe1] {
    background: transparent;
    background: #00ff931a;
    border: 1px solid rgba(0, 255, 147, .1);
    border-radius: 12px;
    margin: -calc(100vw - 100%)/2;
    padding: 12px 20px 0;
    position: relative;
    width: 100%
}

.commission.disabled .commission_disabled[data-v-79beefe1] {
    background: #222456cc;
    border-radius: 16px;
    box-shadow: inset 0 4px 5px #1b224a;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10
}

.commission.disabled .commission_label[data-v-79beefe1] {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px
}

.commission__tab[data-v-79beefe1] {
    align-items: center;
    background: #ffffff26;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
    line-height: 14px;
    padding: 15px 0;
    position: relative;
    width: 100%
}

.commission__tab-container[data-v-79beefe1] {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: space-between;
    margin-bottom: 12px
}

.commission_label[data-v-79beefe1] {
    margin-bottom: 4px;
    text-align: left
}

.commission_info[data-v-79beefe1],
.commission_label[data-v-79beefe1] {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px
}

.commission_info[data-v-79beefe1] {
    opacity: .5;
    text-align: right
}

.bar[data-v-79beefe1] {
    display: inline-block;
    margin: 0 2px;
    min-height: 76px;
    position: relative;
    width: 100%;
    z-index: 1
}

.bar_progress[data-v-79beefe1] {
    background: #ffffff26;
    border-radius: 8px;
    height: 4px;
    width: 100%
}

.bar_progress-circle[data-v-79beefe1] {
    background: #00ff93;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    right: -7px;
    top: -4px;
    width: 12px
}

.bar_progress-active[data-v-79beefe1] {
    background: #00ff93;
    height: 4px;
    position: relative
}

.bar_sections[data-v-79beefe1] {
    border-radius: 46px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 134%;
    overflow: hidden
}

.bar_sections[data-v-79beefe1],
.bar_vertical[data-v-79beefe1] {
    position: relative;
    width: 100%
}

.bar_vertical[data-v-79beefe1] {
    height: 12px
}

.bar_vertical-one[data-v-79beefe1] {
    left: 0
}

.bar_vertical-two[data-v-79beefe1] {
    left: 19%
}

.bar_vertical-three[data-v-79beefe1] {
    left: 44%
}

.bar_vertical-four[data-v-79beefe1] {
    left: 69%
}

.bar_vertical-five[data-v-79beefe1] {
    right: 0
}

.bar_vertical-lines[data-v-79beefe1] {
    background: #ffffff26;
    height: 12px;
    pointer-events: none;
    position: absolute;
    top: -3px;
    width: 2px;
    z-index: 10
}

.bar_vertical-lines-active[data-v-79beefe1] {
    pointer-events: none;
    top: -8px
}

.bar_vertical-lines-green[data-v-79beefe1] {
    background: #00ff93;
    pointer-events: none
}

.bar_percent[data-v-79beefe1] {
    background: #00ff9326;
    border-radius: 4px;
    color: #00ff93;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    padding: 4px;
    pointer-events: none;
    position: absolute;
    width: -moz-fit-content;
    width: fit-content
}

.bar_percent-active[data-v-79beefe1] {
    background: #00ff93;
    color: #000
}

.bar_percent-one[data-v-79beefe1] {
    left: 0
}

.bar_percent-two[data-v-79beefe1] {
    left: 19%
}

.bar_percent-three[data-v-79beefe1] {
    left: 44%
}

.bar_percent-four[data-v-79beefe1] {
    left: 69%
}

.bar_percent-five[data-v-79beefe1] {
    right: 0
}

.bar_labels[data-v-79beefe1] {
    height: 19px;
    margin-bottom: 8px;
    margin-top: 9px;
    position: relative;
    width: 100%
}

.bar_label[data-v-79beefe1] {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    height: 19px;
    line-height: 12px;
    position: absolute;
    top: 0
}

.bar_label--sum[data-v-79beefe1] {
    cursor: pointer
}

.bar_label-one[data-v-79beefe1] {
    left: 0
}

.bar_label-two[data-v-79beefe1] {
    left: 19%
}

.bar_label-three[data-v-79beefe1] {
    left: 44%
}

.bar_label-four[data-v-79beefe1] {
    left: 69%
}

.bar_label-five[data-v-79beefe1] {
    right: 0
}

.bar.three-mode .bar_section-one[data-v-79beefe1] {
    background: #f903d7;
    left: 0;
    right: 33%;
    width: 33%
}

.bar.three-mode .bar_section-two[data-v-79beefe1] {
    background: #ff9f00;
    left: 33%;
    right: 66%;
    width: 33%
}

.bar.three-mode .bar_section-three[data-v-79beefe1] {
    background: #0094ff;
    left: 66%;
    right: 0;
    width: 34%
}

.bar.three-mode .bar_label-one[data-v-79beefe1] {
    left: 0
}

.bar.three-mode .bar_label-two[data-v-79beefe1] {
    left: 33%
}

.bar.three-mode .bar_label-three[data-v-79beefe1] {
    left: 66%
}

.bar.three-mode .bar_label-four[data-v-79beefe1] {
    right: 0;
    text-align: right
}

.commission_loading[data-v-79beefe1] {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px
}

@media (max-width:1550px) and (min-width:1281px) {
    .commission_labels[data-v-79beefe1] {
        height: 16px
    }

    .commission_label[data-v-79beefe1] {
        font-size: 12px;
        line-height: 15px
    }

    .commission_loading[data-v-79beefe1] {
        height: 36px
    }
}

@media (max-width:767px) {
    .commission[data-v-79beefe1] {
        margin: 10px calc(-50vw + 50%) 0;
        padding: 4px 16px;
        width: auto
    }

    .commission[data-v-79beefe1],
    .commission.disabled .commission_disabled[data-v-79beefe1] {
        border-radius: unset
    }

    .commission_label[data-v-79beefe1] {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0
    }

    .commission_loading[data-v-79beefe1] {
        height: 27px
    }
}

.contest-img[data-v-7838d5ab] {
    background-size: cover;
    height: 123.04px;
    width: 100%
}

.payment-method[data-v-7838d5ab] {
    margin-top: 16px
}

.code-message[data-v-7838d5ab] {
    color: #fff;
    padding-left: 10px;
    text-align: left
}

.code-message.error[data-v-7838d5ab] {
    color: #ec2987
}

.where-can-find[data-v-7838d5ab] {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 4px;
    margin-right: 20px
}

.where-can-find__text[data-v-7838d5ab] {
    color: #fff;
    font-family: Geometria;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: .5;
    text-decoration-line: underline;
    text-underline-offset: 2px
}

.where-can-find__i[data-v-7838d5ab] {
    background: #ffffff80;
    border-radius: 8px;
    color: #4c4496;
    font-family: Gemometria;
    font-size: 10px;
    font-weight: 700;
    height: 14px;
    justify-content: center;
    line-height: 8px;
    width: 14px
}

.login-question_profile[data-v-7838d5ab],
.where-can-find__i[data-v-7838d5ab] {
    align-items: center;
    display: flex
}

.login-question_profile img[data-v-7838d5ab] {
    border-radius: 40px;
    height: 40px;
    margin-right: 8px;
    width: 40px
}

.login-question_profile a[data-v-7838d5ab] {
    display: block;
    font-family: Jost, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 4px;
    max-width: 120px;
    overflow-x: hidden;
    text-overflow: ellipsis
}

.login-question_profile p[data-v-7838d5ab] {
    font-size: 16px;
    font-weight: 700;
    line-height: 1
}

.login-question_buttons[data-v-7838d5ab] {
    align-items: center;
    display: flex;
    font-family: Jost, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1
}

.login-question_button[data-v-7838d5ab] {
    border-radius: 8px;
    display: block;
    height: 30px;
    width: 30px
}

.login-question_yes[data-v-7838d5ab] {
    background: #00ff92;
    margin-left: 12px;
    margin-right: 4px
}

.login-question_no[data-v-7838d5ab] {
    background: #ff3e60
}

.mainTab[data-v-7838d5ab] {
    background: transparent;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 50%
}

.mainTab[data-v-7838d5ab],
.mainTab[data-v-7838d5ab]:hover {
    border: 1px solid hsla(0, 0%, 100%, .1)
}

.mainTab[data-v-7838d5ab]:hover {
    background: #ffffff05
}

.mainTab-active[data-v-7838d5ab] {
    cursor: default
}

.mainTab-active[data-v-7838d5ab],
.mainTab-active[data-v-7838d5ab]:hover {
    background: #ffffff0d;
    border: 1px solid transparent
}

.mainTab-active .mainTab__image[data-v-7838d5ab] {
    background: #ffffff1a;
    border: 1px solid transparent
}

.mainTab__tooltip[data-v-7838d5ab] {
    align-items: inherit;
    background: #1d3c38;
    border-radius: 18px;
    color: #00ff93;
    display: flex;
    flex-direction: row;
    font-family: Geometria, Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 134%;
    padding: 4.5px 6px;
    position: absolute;
    right: 0;
    top: -19%
}

.mainTab__container[data-v-7838d5ab] {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 16px;
    margin-top: 22px
}

.mainTab__title[data-v-7838d5ab] {
    font-weight: 700;
    line-height: 14px
}

.mainTab__text[data-v-7838d5ab],
.mainTab__title[data-v-7838d5ab] {
    color: #ffffffc9;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: left
}

.mainTab__text[data-v-7838d5ab] {
    font-weight: 400;
    line-height: 16px;
    margin-top: 6px;
    opacity: .75
}

.mainTab__image[data-v-7838d5ab] {
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    margin-top: -3px;
    padding: 8px
}

.error-message[data-v-7838d5ab] {
    color: #ec2987;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 2px;
    padding-left: 10px;
    text-align: left
}

.promo-btn[data-v-7838d5ab] {
    background: #ffffff1a;
    background: #00ff931a;
    border: none;
    border-radius: 8px;
    color: #00ff93;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    line-height: 15px;
    margin-right: 4px;
    min-width: 90px;
    padding: 0 16px;
    position: relative
}

.promo-btn span[data-v-7838d5ab] {
    position: inherit;
    z-index: 2
}

.promo-btn img[data-v-7838d5ab] {
    height: 16px;
    margin: 0 auto;
    width: 16px
}

.promo-btn--disabled[data-v-7838d5ab] {
    background: #ffffff0d;
    color: #ffffff26;
    opacity: .8;
    pointer-events: none
}

.promo-btn--cancel[data-v-7838d5ab] {
    background: #ffffff0d;
    color: #fff
}

.component-spacing[data-v-7838d5ab],
.warning-component[data-v-7838d5ab] {
    margin-top: 10px
}

.margin-slot[data-v-7838d5ab] {
    margin-right: 22px
}

[data-v-7838d5ab] .modal-container {
    align-items: flex-end;
    display: flex;
    justify-content: center
}

[data-v-7838d5ab] .modal-content h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 134%
}

[data-v-7838d5ab] .modal-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px
}

[data-v-7838d5ab] .altModeAttention {
    margin-bottom: 45vh
}

.warning-component[data-v-7838d5ab] {
    margin: 20px auto 0
}

.register-offer[data-v-7838d5ab] {
    margin-top: -20px;
    max-width: 361px;
    padding: 0 20px
}

.register-offer p[data-v-7838d5ab] {
    margin-bottom: 10px
}

.register-offer a[data-v-7838d5ab] {
    text-decoration: none
}

.register-offer a.skip-registration[data-v-7838d5ab] {
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    margin-top: 15px;
    text-decoration: underline
}

.needsum-slot_left[data-v-7838d5ab] {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 18px
}

.needsum-slot_left .commission-procent[data-v-7838d5ab] {
    margin-left: 8px
}

.needsum-slot_right[data-v-7838d5ab] {
    position: absolute;
    right: 4px
}

.needsum-slot-error[data-v-7838d5ab] {
    color: #ec2987
}

.blur-component[data-v-7838d5ab] {
    background: #fff0;
    filter: blur(2.5px);
    opacity: .4
}

.agreement-text[data-v-7838d5ab] {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    margin-top: 10px;
    opacity: .5;
    text-align: center
}

.agreement-text span[data-v-7838d5ab] {
    font-weight: 700
}

@media (max-width:1550px) and (min-width:1281px) {
    .promo-btn[data-v-7838d5ab] {
        border-radius: 12px
    }

    .mainTab[data-v-7838d5ab] {
        padding: 11px
    }

    .mainTab__image[data-v-7838d5ab] {
        padding: 6.4px
    }

    .mainTab__text[data-v-7838d5ab] {
        font-size: 12px
    }
}

@media (max-width:1550px) and (min-width:768px) {
    .component-spacing[data-v-7838d5ab] {
        margin-top: 8px
    }

    .component-spacing.agreement-component[data-v-7838d5ab] {
        margin-top: 16px
    }

    .component-spacing.warning-component[data-v-7838d5ab] {
        margin-top: 8px
    }
}

@media (max-width:1280px) and (min-width:768px) {
    .warning-component[data-v-7838d5ab] {
        margin-top: 16px
    }

    .mainTab__title[data-v-7838d5ab] {
        font-size: 16px;
        line-height: 14px
    }

    .mainTab__text[data-v-7838d5ab] {
        font-size: 16px;
        line-height: 16px
    }

    .pay-button[data-v-7838d5ab] {
        margin-top: 16px
    }
}

@media (max-width:767px) {
    .component-spacing[data-v-7838d5ab] {
        margin-top: 12px
    }

    .component-spacing.warning-component[data-v-7838d5ab] {
        margin-top: 20px
    }

    .mainTab__title[data-v-7838d5ab] {
        font-size: 14px;
        line-height: 14px
    }

    .mainTab__text[data-v-7838d5ab] {
        font-size: 12px;
        line-height: 16px
    }

    .mainTab__container[data-v-7838d5ab] {
        margin-top: 5px
    }

    .margin-slot[data-v-7838d5ab] {
        margin-right: 14px
    }
}

@media (max-width:500px) {
    .mainTab[data-v-7838d5ab] {
        padding: 10px
    }

    .login-question_buttons[data-v-7838d5ab] {
        align-items: center;
        display: flex;
        font-family: Jost, Arial, sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 1
    }

    .login-question_button[data-v-7838d5ab] {
        border-radius: 8px;
        display: block;
        height: 25px;
        width: 25px
    }

    .login-question_yes[data-v-7838d5ab] {
        background: #00ff92;
        margin-left: 5px;
        margin-right: 4px
    }

    .login-question_no[data-v-7838d5ab] {
        background: #ff3e60
    }
}