@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.login-question_profile[data-v-ba6eba26] {
    align-items: center;
    display: flex;
    padding: 15px 20px 11px
}

.login-question_profile img[data-v-ba6eba26] {
    border-radius: 40px;
    height: 25px;
    margin-right: 8px;
    width: 25px
}

.login-question_profile a[data-v-ba6eba26] {
    display: block;
    font-family: Jost, Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 4px;
    max-width: 120px;
    overflow-x: hidden;
    text-align: left;
    text-overflow: ellipsis
}

.login-question_profile p[data-v-ba6eba26] {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: left
}

.login-question_buttons[data-v-ba6eba26] {
    align-items: center;
    display: flex;
    font-family: Jost, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1
}

.login-question_button[data-v-ba6eba26] {
    align-items: center;
    border-radius: 8px;
    display: block;
    height: 44px;
    justify-content: center;
    width: 44px
}

.login-question_yes[data-v-ba6eba26] {
    background: #00ff92;
    margin-left: 12px;
    margin-right: 4px
}

.login-question_no[data-v-ba6eba26] {
    background: #ff3e60
}

.input[data-v-ba6eba26] {
    background: #ffffff1a;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 12px;
    height: 48px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.input--focused[data-v-ba6eba26] {
    border: 1px solid hsla(0, 0%, 100%, .25)
}

.input--error[data-v-ba6eba26] {
    border: 1px solid rgba(255, 62, 96, .5)
}

.input .input_field[data-v-ba6eba26] {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 48px;
    justify-content: space-between;
    line-height: normal;
    padding: 24px 20px 8px;
    position: inherit;
    width: 100%;
    font-family: "Inter", sans-serif;


}

.input .input_field[data-v-ba6eba26],
.input .input_field-short[data-v-ba6eba26] {
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    offset: unset;
    z-index: 2
}

.input .input_field-short[data-v-ba6eba26] {
    line-height: 20px;
    padding: 21px 20px 17px;
    position: sticky;
    right: 100%;
    width: 70%
}

.input .input_field[data-v-ba6eba26]:focus-visible {
    outline: unset
}

.input .input_field[data-v-ba6eba26]::-moz-placeholder {
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

.input .input_field[data-v-ba6eba26]::placeholder {
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

.input .input_placeholder[data-v-ba6eba26] {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 100%;
    opacity: .5;
    padding: 0 20px;
    position: absolute;
    text-align: left;
    transition: all .2s ease-in-out;
    white-space: break-spaces;
    z-index: 1
}

.input .input_placeholder--focused[data-v-ba6eba26] {
    font-size: 12px;
    line-height: 12px;
    transform: translateY(-12px)
}

.input .slot-right[data-v-ba6eba26] {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 2
}

.input .slot-right.wide[data-v-ba6eba26] {
    justify-content: space-between
}

.input .slot-right div[data-v-ba6eba26] {
    background: #000;
    height: 64px;
    width: 100px
}

@media (max-width:1550px) and (min-width:1281px) {
    .input[data-v-ba6eba26] {
        border-radius: 12px
    }
}

.sum[data-v-4aab36a5] {
    background: #22245680;
    border-radius: 16px;
    padding: 20px;
    width: 100%
}

.sum_label[data-v-4aab36a5],
.sum_value[data-v-4aab36a5] {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px
}

.sum_value[data-v-4aab36a5] {
    display: flex
}

.sum_value span[data-v-4aab36a5] {
    font-size: 14px;
    margin-right: 8px;
    text-decoration: line-through
}

.sum_row[data-v-4aab36a5] {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px
}

.sum_row img[data-v-4aab36a5] {
    height: 14px;
    width: 14px
}

.sum_row-total[data-v-4aab36a5] {
    margin-bottom: 0;
    margin-top: 12px
}

.sum_row-total .sum_label[data-v-4aab36a5],
.sum_row-total .sum_value[data-v-4aab36a5] {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 134%
}

.sum_row-total .sum_value[data-v-4aab36a5] {
    min-height: 32px
}

.sum_row-total .sum_value--coin[data-v-4aab36a5] {
    align-items: center;
    background: #ffe500;
    border-radius: 6px;
    color: #262568;
    display: flex;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    line-height: 14px;
    padding: 8px
}

.sum_row-total .sum_value--coin svg[data-v-4aab36a5] {
    margin-right: 3px
}

.sum_row-total .sum_value img[data-v-4aab36a5] {
    height: 24px;
    width: 24px
}

.sum_row-bonus[data-v-4aab36a5] {
    text-align: left
}

.sum_row-bonus a[data-v-4aab36a5] {
    cursor: pointer
}

.sum_row-bonus.unlogged[data-v-4aab36a5] {
    opacity: .5
}

.sum_row-off-bonus[data-v-4aab36a5] {
    margin-bottom: 0
}

.sum_row-off-bonus .sum_label[data-v-4aab36a5],
.sum_row-off-bonus .sum_value[data-v-4aab36a5] {
    color: #ffffff1f
}

.sum_row-game-if-card[data-v-4aab36a5] {
    align-items: center;
    background: #ffffff1a;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 6px;
    display: flex;
    height: 36px;
    margin-bottom: 0;
    margin-top: 12px;
    padding: 0 8px;
    transition: all .1s ease
}

.sum_row-game-if-card[data-v-4aab36a5]:hover {
    background: #fff3
}

.sum svg[data-v-4aab36a5] {
    display: inline-block;
    margin-left: 4px
}

.sum.sum-game[data-v-4aab36a5] {
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px
}

.sum.sum-game .sum_row-total[data-v-4aab36a5] {
    margin-top: 0
}

.kupicoin-offer[data-v-4aab36a5] {
    align-items: center;
    background: #ffe5001a;
    border: 1px solid rgba(255, 229, 0, .1);
    border-radius: 6px;
    color: #fee501;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: space-between;
    line-height: 134%;
    margin-top: 4px;
    padding: 8px
}

.kupicoin-offer__discount[data-v-4aab36a5] {
    background: linear-gradient(280deg, #02dfa8 -36.14%, #5c51e4);
    border-radius: 21px;
    color: #fff;
    font-size: 12px;
    margin-right: 8px;
    padding: 2px 8px
}

.kupicoin-offer__sum[data-v-4aab36a5] {
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    margin-left: 3px
}

.kupicoin-offer__img[data-v-4aab36a5] {
    height: 16px;
    width: 16px
}

.payment_infoBlock[data-v-4aab36a5] {
    align-items: center;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    padding: 20px;
    width: 100%
}

.payment_infoBlock-title[data-v-4aab36a5] {
    color: #fff;
    font-family: Geometria;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 134%;
    margin: 0;
    text-align: center
}

.payment_infoBlock-container[data-v-4aab36a5] {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.payment_infoBlock-coins[data-v-4aab36a5] {
    font-family: Geometria;
    font-size: 16px;
    font-weight: 500;
    line-height: 134%
}

.payment_infoBlock-coins[data-v-4aab36a5],
.payment_infoBlock-gold[data-v-4aab36a5] {
    color: #fff;
    font-style: normal;
    margin: 0;
    text-align: center
}

.payment_infoBlock-gold[data-v-4aab36a5] {
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 14px
}

.payment_infoBlock-price[data-v-4aab36a5] {
    color: #fff;
    font-family: Geometria;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 134%;
    margin: 0;
    opacity: .5;
    text-align: center
}

.payment_infoBlock-oldPrice[data-v-4aab36a5] {
    opacity: .5;
    text-decoration-line: line-through
}

.payment-info[data-v-4aab36a5] {
    background: #262568cc;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 134%;
    margin-top: 20px;
    padding: 20px
}

.payment-info__line[data-v-4aab36a5] {
    display: flex;
    font-family: "Geologica", sans-serif;

}

.payment-info__line--small[data-v-4aab36a5] {
    font-size: 12px;
    font-weight: 500;
    line-height: 134%
}

.payment-info__line--between[data-v-4aab36a5] {
    -moz-column-gap: 1px;
    column-gap: 1px;
    justify-content: space-between
}

.payment-info__line--baseline[data-v-4aab36a5] {
    align-items: flex-end;
    margin-bottom: 12px;
    margin-top: 2px
}

.payment-info--yellow[data-v-4aab36a5] {
    color: #ffe500;
    font-family: "Geologica", sans-serif;


}

.payment-info__tooltip[data-v-4aab36a5] {
    height: 19px;
    margin-left: 8px;
    margin-top: -1px;
    width: 14px
}

.payment-info__gold-sum[data-v-4aab36a5] {
    color: #ffe500;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 4px
}

.payment-info__card-sum[data-v-4aab36a5] {
    margin-bottom: -5px;
    margin-left: 8px
}

.payment-info__discount[data-v-4aab36a5] {
    background: linear-gradient(280deg, #02dfa8 -36.14%, #5c51e4);
    border-radius: 21px;
    box-shadow: 0 0 16px #00ff9340;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    height: 16px;
    line-height: 134%;
    margin-bottom: -1px;
    margin-left: 4px;
    padding: 1px 4px
}

.payment-info--grey[data-v-4aab36a5] {
    opacity: .5
}

.payment-info__commission[data-v-4aab36a5] {
    margin-bottom: 4px
}

.payment-info__tickets[data-v-4aab36a5] {
    font-weight: 700;
    margin-top: 12px
}

.kupilliard[data-v-4aab36a5] {
    color: #ffffffb3;
    justify-content: space-between;
    letter-spacing: 0;
    line-height: 19px
}

.kupilliard[data-v-4aab36a5],
.kupilliard_item[data-v-4aab36a5] {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-align: left
}

.kupilliard_item[data-v-4aab36a5] {
    align-items: center;
    letter-spacing: .1em;
    line-height: 22px
}

.kupilliard_item--bronze[data-v-4aab36a5] {
    color: #c78262
}

.kupilliard_item--silver[data-v-4aab36a5] {
    color: #a4d4f7
}

.kupilliard_item--gold[data-v-4aab36a5] {
    color: #ffe500
}

@media (max-width:1550px) and (min-width:1281px) {
    .payment-info[data-v-4aab36a5] {
        margin-top: 16px
    }

    .sum[data-v-4aab36a5] {
        padding: 16px 16px 11px
    }
}

@media (max-width:1280px) and (min-width:768px) {
    .sum[data-v-4aab36a5] {
        padding: 16px 20px 12px
    }
}

@media (max-width:800px) {
    .payment_infoBlock[data-v-4aab36a5] {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        margin-top: 16px
    }

    .payment_infoBlock-title[data-v-4aab36a5] {
        font-size: 14px
    }
}

@media (max-width:767px) {
    .payment-info[data-v-4aab36a5] {
        margin-top: 16px
    }

    .sum[data-v-4aab36a5] {
        margin: 10px calc(-50vw + 50%) 0;
        width: auto
    }

    .sum.sum-game[data-v-4aab36a5] {
        margin: 10px 0 0
    }
}