.brawl-stars.purchase-form .purchase-form__header[data-v-97299afa] {
    background-image: url(../assets/brawl-stars/decoration.webp), linear-gradient(87.75deg, #0f8ad5 8.429%, #8ed4ff 101.298%)
}

.brawl-stars.purchase-form .purchase-form__header-text[data-v-97299afa] {
    max-width: 278px
}

.brawl-stars.purchase-form .purchase-form__logo[data-v-97299afa] {
    background-image: url(../assets/brawl-stars/logo.webp)
}

.brawl-stars.purchase-form .purchase-form__logo-label[data-v-97299afa] {
    bottom: -9px;
    height: 35px;
    width: 73px
}

.purchase-goods__item__box[data-v-97299afa] {
    border-radius: 13px
}

@media (max-width:767px) {
    .brawl-stars.purchase-form .purchase-form__header[data-v-97299afa] {
        background-image: linear-gradient(87.75deg, #0f8ad5 8.429%, #8ed4ff 101.298%);
        padding-right: 40px
    }

    .brawl-stars.purchase-form .purchase-form__logo-label[data-v-97299afa] {
        bottom: -12px;
        height: 27px;
        width: 59px
    }
}