@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.bonus-program[data-v-5910323e] {
    background: rgba(0, 255, 147, .1);
    background-image: url(../img/bg-k.2ea626bc.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgba(0, 255, 147, .25);
    border-radius: 16px;
    height: 100%;
    padding: 24px;
    position: relative;
    width: 100%
}

.bonus-program-smile[data-v-5910323e] {
    width: 69px
}

.bonus-program-text[data-v-5910323e] {
    color: #fff;
    font-family: "Geologica", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.96px;
    line-height: 96%;
    margin-top: 30px
}

.bonus-program-href[data-v-5910323e] {
    align-items: center;
    background: rgba(0, 255, 147, .1);
    border: 1px solid rgba(0, 255, 147, .1);
    border-radius: 12px;
    color: #00ff93;
    cursor: pointer;
    display: flex;
    font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    letter-spacing: -.48px;
    margin-top: 12px;
    padding: 12px 32px
}

@media (max-width:1620px) {
    .bonus-program-smile[data-v-5910323e] {
        width: 47px
    }

    .bonus-program-text[data-v-5910323e] {
        font-size: 24px;
        letter-spacing: -.72px;
        margin-top: 24px
    }
}

@media (max-width:1281px) {
    .bonus-program-text[data-v-5910323e] {
        font-size: 16px;
        letter-spacing: -.48px;
        margin-top: 16px
    }
}

@media (max-width:768px) {
    .bonus-program-text[data-v-5910323e] {
        font-size: 24px;
        letter-spacing: -.72px;
        margin-top: 0
    }
}

.bonus-floor-block[data-v-eeda3a2c] {
    display: none;
    width: 100%
}

@media (max-width:767px) {
    .bonus-floor-block[data-v-eeda3a2c] {
        display: block
    }
}

.subscribe-list[data-v-eeda3a2c] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 67px 24px;
    padding: 0;
    width: 100%
}

.subscribe-list .gape-pass-card-disabled[data-v-eeda3a2c] {
    cursor: default;
    opacity: 40%;
    pointer-events: none
}

@media (max-width:1620px) {
    .subscribe-list[data-v-eeda3a2c] {
        gap: 32px 16px
    }
}

@media (max-width:1281px) {
    .subscribe-list[data-v-eeda3a2c] {
        gap: 24px 12px
    }
}

@media (max-width:768px) {
    .subscribe-list[data-v-eeda3a2c] {
        gap: 24px 16px;
        justify-content: center
    }
}

@media (max-width:575px) {
    .subscribe-list[data-v-eeda3a2c] {
        justify-content: normal
    }
}

.subscribe-list__game-pass-card[data-v-eeda3a2c] {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    width: 240px
}

@media (max-width:1620px) {
    .subscribe-list__game-pass-card[data-v-eeda3a2c] {
        min-width: 196px;
        width: 196px
    }
}

@media (max-width:1281px) {
    .subscribe-list__game-pass-card[data-v-eeda3a2c] {
        min-width: 162px;
        width: 162px
    }
}

.subscribe-list__game-pass-card__sub-name[data-v-eeda3a2c] {
    color: #ffffffb3;
    font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.48px;
    line-height: 120%;
    margin-top: 16px
}

@media (max-width:1620px) {
    .subscribe-list__game-pass-card__sub-name[data-v-eeda3a2c] {
        font-size: 18px;
        letter-spacing: -.54px
    }
}

@media (max-width:1281px) {
    .subscribe-list__game-pass-card__sub-name[data-v-eeda3a2c] {
        font-size: 16px;
        letter-spacing: -.48px
    }
}

.subscribe-list__game-pass-card__name[data-v-eeda3a2c] {
    color: #fff;
    font-family: "Geologica", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.72px;
    line-height: 120%;
    margin-top: 16px
}

@media (max-width:1620px) {
    .subscribe-list__game-pass-card__name[data-v-eeda3a2c] {
        margin-top: 12px
    }
}

@media (max-width:1281px) {
    .subscribe-list__game-pass-card__name[data-v-eeda3a2c] {
        font-size: 20px
    }
}

.subscribe-list__game-pass-card__price[data-v-eeda3a2c] {
    margin-top: 12px
}

.subscribe-list__game-pass-card[data-v-eeda3a2c]:last-child {
    display: none
}

@media (max-width:575px) {
    .subscribe-list__game-pass-card[data-v-eeda3a2c] {
        flex: 2 0 calc(50% - 16px);
        height: auto;
        min-width: auto;
        width: 156px
    }

    .subscribe-list__game-pass-card[data-v-eeda3a2c]:last-child {
        margin-right: 0
    }
}

.subscribe-list .text-color-aquamarine[data-v-eeda3a2c] {
    color: #00ff93
}

.activator-layout .visually-hidden[data-v-90fa2976] {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.activator-layout .faq-block[data-v-90fa2976] {
    margin-top: 36px
}

.activator-layout .carousel-banner-img[data-v-90fa2976] {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

@media (max-width:768px) {
    .activator-layout .carousel-banner-img[data-v-90fa2976] {
        display: none;
        width: auto
    }
}

.activator-layout .carousel-banner-img-laptop[data-v-90fa2976] {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

@media (max-width:1621px) {
    .activator-layout .carousel-banner-img-laptop[data-v-90fa2976] {
        display: block
    }
}

@media (max-width:1281px) {
    .activator-layout .carousel-banner-img-laptop[data-v-90fa2976] {
        display: none
    }
}

.activator-layout .carousel-banner-img-middle[data-v-90fa2976] {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

@media (max-width:768px) {
    .activator-layout .carousel-banner-img-middle[data-v-90fa2976] {
        display: block
    }
}

.activator-layout .carousel-banner-img-middle-one[data-v-90fa2976] {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

@media (max-width:768px) {
    .activator-layout .carousel-banner-img-middle-one[data-v-90fa2976] {
        display: block
    }
}

@media (max-width:430px) {
    .activator-layout .carousel-banner-img-middle-one[data-v-90fa2976] {
        display: none
    }
}

.activator-layout .carousel-banner-img-mini[data-v-90fa2976] {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

@media (max-width:430px) {
    .activator-layout .carousel-banner-img-mini[data-v-90fa2976] {
        display: block
    }
}

.activator-layout .carousel-block[data-v-90fa2976] {
    height: 100%;
    padding: 40px;
    position: relative
}

.activator-layout .carousel-block__item[data-v-90fa2976] {
    left: 0;
    padding: inherit;
    position: absolute;
    top: 14px
}

.activator-layout .carousel-block__item__title[data-v-90fa2976] {
    color: #fff;
    font-family: "Geologica", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.68px;
    line-height: 96%
}

@media (max-width:1620px) {
    .activator-layout .carousel-block__item__title[data-v-90fa2976] {
        font-size: 48px;
        letter-spacing: -1.2px
    }
}

@media (max-width:1281px) {
    .activator-layout .carousel-block__item__title[data-v-90fa2976] {
        font-size: 40px
    }
}

@media (max-width:768px) {
    .activator-layout .carousel-block__item__title[data-v-90fa2976] {
        font-size: 32px;
        letter-spacing: -.48px
    }
}

.activator-layout .carousel-block__item__text[data-v-90fa2976] {
    color: #fff;
    font-family: "Geologica", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.72px;
    line-height: 120%;
    margin-top: 8px
}

@media (max-width:1281px) {
    .activator-layout .carousel-block__item__text[data-v-90fa2976] {
        font-size: 16px;
        letter-spacing: -.48px
    }
}

@media (max-width:1620px) {
    .activator-layout .carousel-block__item[data-v-90fa2976] {
        top: 0
    }
}

@media (max-width:767px) {
    .activator-layout .carousel-block__item[data-v-90fa2976] {
        bottom: 10px;
        top: unset
    }
}

.activator-layout__header[data-v-90fa2976] {
    display: flex;
    gap: 23px;
    justify-content: space-between
}

.activator-layout__header__slider[data-v-90fa2976] {
    height: 280px;
    width: 100%
}

.activator-layout__header__bonus-program[data-v-90fa2976] {
    height: 280px;
    min-width: 505px;
    position: relative
}

@media (max-width:1620px) {
    .activator-layout__header[data-v-90fa2976] {
        gap: 16px;
        margin-top: 0
    }

    .activator-layout__header__slider[data-v-90fa2976] {
        height: 240px;
        width: 100%
    }

    .activator-layout__header__bonus-program[data-v-90fa2976] {
        height: 240px;
        min-width: 408px
    }
}

@media (max-width:1281px) {
    .activator-layout__header__slider[data-v-90fa2976] {
        height: 203px;
        width: 100%
    }

    .activator-layout__header__bonus-program[data-v-90fa2976] {
        height: 203px;
        min-width: 236px
    }
}

@media (max-width:768px) {
    .activator-layout__header[data-v-90fa2976] {
        display: block;
        margin-top: 33px
    }

    .activator-layout__header__slider[data-v-90fa2976] {
        height: 320px;
        width: 100%
    }
}

@media (max-width:767px) {
    .activator-layout__header__bonus-program[data-v-90fa2976] {
        display: none
    }
}

.activator-layout__content[data-v-90fa2976] {
    margin-top: 62px
}

@media (max-width:768px) {
    .activator-layout__content[data-v-90fa2976] {
        margin-top: 40px
    }
}

.activator-layout__content__title[data-v-90fa2976] {
    color: #fff;
    font-family: "Geologica", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 90.8%
}

.activator-layout__questions[data-v-90fa2976] {
    margin-bottom: 272px;
    margin-top: 88px
}

@media (max-width:1281px) {
    .activator-layout__questions[data-v-90fa2976] {
        margin-bottom: 200px;
        margin-top: 48px;
        padding-right: 0
    }
}

@media (max-width:768px) {
    .activator-layout__questions[data-v-90fa2976] {
        margin-bottom: 170px;
        margin-top: 36px
    }
}

.activator-layout .bonus-program-img[data-v-90fa2976] {
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.v-carousel {
    overflow: hidden;
    position: relative;
    width: 100%
}

.v-carousel__controls {
    align-items: center;
    background: rgba(var(--v-theme-surface-variant), .3);
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    width: 100%;
    z-index: 1
}

.v-carousel__controls>.v-item-group {
    flex: 0 1 auto
}

.v-carousel__controls__item {
    margin: 0 8px
}

.v-carousel__controls__item .v-icon {
    opacity: .5
}

.v-carousel__controls__item--active .v-icon {
    opacity: 1;
    vertical-align: middle
}

.v-carousel__controls__item:hover {
    background: none
}

.v-carousel__controls__item:hover .v-icon {
    opacity: .8
}

.v-carousel__progress {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0
}

.v-carousel-item {
    display: block;
    height: inherit;
    text-decoration: none
}

.v-carousel-item>.v-img {
    height: inherit
}

.v-carousel--hide-delimiter-background .v-carousel__controls {
    background: transparent
}

.v-carousel--vertical-delimiters .v-carousel__controls {
    flex-direction: column;
    height: 100% !important;
    width: 50px
}

.v-window {
    overflow: hidden
}

.v-window__container {
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-window__controls {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: 0 16px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.v-window__controls * {
    pointer-events: auto
}

.v-window--show-arrows-on-hover {
    overflow: hidden
}

.v-window--show-arrows-on-hover .v-window__left {
    transform: translate(-200%)
}

.v-window--show-arrows-on-hover .v-window__right {
    transform: translate(200%)
}

.v-window--show-arrows-on-hover:hover .v-window__left,
.v-window--show-arrows-on-hover:hover .v-window__right {
    transform: translate(0)
}

.v-window-x-reverse-transition-enter-active,
.v-window-x-reverse-transition-leave-active,
.v-window-x-transition-enter-active,
.v-window-x-transition-leave-active,
.v-window-y-reverse-transition-enter-active,
.v-window-y-reverse-transition-leave-active,
.v-window-y-transition-enter-active,
.v-window-y-transition-leave-active {
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-window-x-reverse-transition-leave-from,
.v-window-x-reverse-transition-leave-to,
.v-window-x-transition-leave-from,
.v-window-x-transition-leave-to,
.v-window-y-reverse-transition-leave-from,
.v-window-y-reverse-transition-leave-to,
.v-window-y-transition-leave-from,
.v-window-y-transition-leave-to {
    position: absolute !important;
    top: 0;
    width: 100%
}

.v-window-x-transition-enter-from {
    transform: translate(100%)
}

.v-window-x-reverse-transition-enter-from,
.v-window-x-transition-leave-to {
    transform: translate(-100%)
}

.v-window-x-reverse-transition-leave-to {
    transform: translate(100%)
}

.v-window-y-transition-enter-from {
    transform: translateY(100%)
}

.v-window-y-reverse-transition-enter-from,
.v-window-y-transition-leave-to {
    transform: translateY(-100%)
}

.v-window-y-reverse-transition-leave-to {
    transform: translateY(100%)
}