@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.layout[data-v-f958c95a] {
    background-position: 100% 0;
    background-size: 100% auto, cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 83px;
    position: relative
}

@media (max-width:1280px) {
    .layout[data-v-f958c95a] {
        padding-top: 89px
    }
}

@media (max-width:767px) {
    .layout[data-v-f958c95a] {
        padding-top: 134px
    }
}

.layout--arena-breakout[data-v-f958c95a] {
    background-image: url(../assets/arena-breakout/bg.webp), radial-gradient(159.77% 79.47% at 74.3% 13.46%, #031916 0, #14151b 100%)
}

.layout--azur-lane[data-v-f958c95a] {
    background-image: url(../assets/azur-lane/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #050d29 0, #14151b 100%)
}

.layout--brawl-stars[data-v-f958c95a] {
    background-image: url(../assets/brawl-stars/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #221d11 0, #14151b 100%)
}

.layout--clash-of-clans[data-v-f958c95a] {
    background-image: url(../assets/clash-of-clans/bg.webp), radial-gradient(163.85% 78.11% at 82.11% 14.44%, #17071f 0, #14151b 100%)
}

.layout--clash-royale[data-v-f958c95a] {
    background-image: url(../assets/clash-royale/bg.webp), radial-gradient(183.18% 88.95% at 85.05% 13.84%, #1c0606 0, #14151b 100%)
}

.layout--farlight[data-v-f958c95a] {
    background-image: url(../assets/farlight/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #1d1503 0, #14151b 100%)
}

.layout--garena-free-fire[data-v-f958c95a] {
    background-image: url(../assets/garena-free-fire/bg.webp), radial-gradient(139.5% 62.81% at 69.97% 32.58%, #201f12 0, #14151b 100%)
}

.layout--genshin[data-v-f958c95a] {
    background-image: url(../assets/genshin/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #0e191e 0, #14151b 100%)
}

.layout--honkai[data-v-f958c95a] {
    background-image: url(../assets/honkai/bg.webp), radial-gradient(161.95% 74.66% at 77.03% 22.72%, #150910 0, #14151b 100%)
}

.layout--lords-mobile[data-v-f958c95a] {
    background-image: url(../assets/lords-mobile/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #041a21 0, #14151b 100%)
}

.layout--lol[data-v-f958c95a] {
    background-image: url(../assets/lol/bg.webp), radial-gradient(159.77% 79.47% at 74.3% 13.46%, #0a1725 0, #14151b 100%)
}

.layout--mobile-legends[data-v-f958c95a] {
    background-image: url(../assets/mobile-legends/bg.webp), radial-gradient(139.5% 62.81% at 69.97% 32.58%, #1a0d12 0, #14151b 100%)
}

.layout--nikke[data-v-f958c95a] {
    background-image: url(../assets/nikke/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #200a0a 0, #14151b 100%)
}

.layout--pubg[data-v-f958c95a] {
    background-image: url(../assets/pubg/bg.webp), radial-gradient(108.6% 58.92% at 77.03% 22.72%, #1c1a10 0, #14151b 100%)
}

.layout--pubg-new-state[data-v-f958c95a] {
    background-image: url(../assets/pubg-new-state/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #051e16 0, #14151b 100%)
}

.layout--state-of-survival[data-v-f958c95a] {
    background-image: url(../assets/state-of-survival/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #1d1803 0, #14151b 100%)
}

.layout--stumble-guys[data-v-f958c95a] {
    background-image: url(../assets/stumble-guys/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #1e1106 0, #14151b 100%)
}

.layout--tower-of-fantasy[data-v-f958c95a] {
    background-image: url(../assets/tower-of-fantasy/bg.webp), radial-gradient(159.77% 79.47% at 74.3% 13.46%, #1f041e 0, #14151b 100%)
}

.layout--zepeto[data-v-f958c95a] {
    background-image: url(../assets/zepeto/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #100a17 0, #14151b 100%)
}

.layout--dragonheir[data-v-f958c95a] {
    background-image: url(../assets/dragonheir/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #1e1f2b 0, #14151b 100%)
}

.layout--identity[data-v-f958c95a] {
    background-image: url(../assets/identity/bg.webp), radial-gradient(106.63% 50.52% at 69.97% 32.58%, #1e2531 0, #14151b 100%)
}

.layout--hay-day[data-v-f958c95a] {
    background-image: url(../assets/hay-day/bg.webp), radial-gradient(134.97% 62.37% at 70% 33%, #131a0d, #14151b 100%)
}

.layout__header[data-v-f958c95a] {
    position: fixed
}

.layout__content[data-v-f958c95a] {
    grid-column-gap: 24px;
    align-items: start;
    display: grid;
    grid-template-columns: 372px 768px 372px;
    justify-content: center;
    margin: 40px 0 auto
}

@media (max-width:1620px) {
    .layout__content[data-v-f958c95a] {
        grid-column-gap: 16px;
        grid-template-columns: 294px 620px 299px;
        margin-top: 48px
    }
}

@media (max-width:1280px) {
    .layout__content[data-v-f958c95a] {
        grid-row-gap: 24px;
        grid-template-columns: 1fr;
        margin-top: 8px;
        padding: 0 20px
    }
}

@media (max-width:767px) {
    .layout__content[data-v-f958c95a] {
        grid-row-gap: 20px;
        margin-top: 12px;
        padding: 0 10px
    }
}

@media (max-width:1280px) {
    .layout__content__navigation[data-v-f958c95a] {
        margin: 0 -20px
    }
}

@media (max-width:767px) {
    .layout__content__navigation[data-v-f958c95a] {
        margin: 0 -10px
    }
}

.layout__content__purchase[data-v-f958c95a] {
    grid-row-gap: 24px;
    display: grid
}

@media (max-width:767px),
(min-width:768px) and (max-width:1620px) {
    .layout__content__purchase[data-v-f958c95a] {
        grid-row-gap: 20px
    }
}

@media (max-width:767px) {
    .layout__content__purchase[data-v-f958c95a] {
        grid-row-gap: 20px
    }
}

.layout__content__bonus[data-v-f958c95a] {
    background-image: linear-gradient(91deg, rgba(0, 255, 147, .25), rgba(0, 255, 147, .03) 99.77%);
    border: 1px solid rgba(0, 255, 147, .1);
    border-radius: 16px;
    color: #00ff93;
    font-size: 20px;
    font-weight: 700;
    grid-row: 2/3;
    line-height: 1.2;
    padding: 20px;
    text-align: center
}

@media (max-width:767px),
(min-width:768px) and (max-width:1620px) {
    .layout__content__bonus[data-v-f958c95a] {
        font-size: 16px;
        padding: 16px
    }
}

.layout__content__bonus--yellow[data-v-f958c95a] {
    background-image: linear-gradient(91deg, rgba(255, 229, 0, .25), rgba(255, 229, 0, .25) 99.77%);
    color: #fff
}

.layout__content__bonus_zepeto[data-v-f958c95a] {
    background-image: linear-gradient(91deg, rgba(242, 255, 0, .1), rgba(153, 138, 0, .1) 99.77%);
    border: 1px solid rgba(0, 255, 147, .1);
    border-radius: 16px;
    color: #ffe500;
    font-size: 20px;
    font-weight: 700;
    grid-row: 2/3;
    line-height: 1.2;
    padding: 20px;
    text-align: center
}

@media (max-width:767px),
(min-width:768px) and (max-width:1620px) {
    .layout__content__bonus_zepeto[data-v-f958c95a] {
        font-size: 16px;
        padding: 16px
    }
}

@media (max-width:767px) {
    .layout__content__payment[data-v-f958c95a] {
        position: relative
    }
}

@media (min-width:1281px) {
    .layout__content__payment[data-v-f958c95a] {
        position: sticky;
        top: 100px
    }
}

.layout__content__payment-flag[data-v-f958c95a] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute
}

.layout__content__payment-overlay[data-v-f958c95a] {
    align-items: end;
    background-color: #000000bf;
    display: grid;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 10px;
    position: fixed;
    z-index: 20
}

@media (min-width:768px) {
    .layout__content__payment-overlay[data-v-f958c95a] {
        display: none
    }
}

.layout__content__payment-overlay.payment-modal-enter-active[data-v-f958c95a],
.layout__content__payment-overlay.payment-modal-leave-active[data-v-f958c95a] {
    transition-duration: .4s;
    transition-property: opacity;
    transition-timing-function: ease-in-out
}

.layout__content__payment-overlay.payment-modal-enter-from[data-v-f958c95a],
.layout__content__payment-overlay.payment-modal-leave-to[data-v-f958c95a] {
    opacity: 0
}

.layout__content__payment-modal[data-v-f958c95a] {
    background-color: #212227;
    position: relative
}

.layout__content__payment-modal-button[data-v-f958c95a] {
    position: absolute;
    right: 16px;
    top: 12px
}

.layout__content__bottom[data-v-f958c95a] {
    margin-bottom: 172px;
    margin-top: 157px
}

@media (max-width:1280px) {
    .layout__content__bottom[data-v-f958c95a] {
        margin-top: 120px
    }
}

@media (max-width:767px) {
    .layout__content__bottom[data-v-f958c95a] {
        margin-top: 100px
    }
}

.layout__recommendations[data-v-f958c95a] {
    background-color: red;
    margin-top: 140px
}

@media (max-width:1280px) {
    .layout__recommendations[data-v-f958c95a] {
        margin-top: 97px
    }
}

@media (max-width:767px) {
    .layout__recommendations[data-v-f958c95a] {
        margin-top: 72px
    }
}

.layout__footer[data-v-f958c95a] {
    margin-top: 32px
}

@media (max-width:1280px) {
    .layout__footer[data-v-f958c95a] {
        margin-top: 20px
    }
}

@media (max-width:767px) {
    .layout__footer[data-v-f958c95a] {
        margin-top: 24px
    }
}

.payment-hint[data-v-f958c95a] {
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px);
    background-color: #14151b;
    border-left: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 16px 16px 0 0;
    border-right: 1px solid hsla(0, 0%, 100%, .1);
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 16px;
    position: sticky;
    right: 0;
    transition-duration: .4s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    z-index: 100
}

@media (min-width:768px) {
    .payment-hint[data-v-f958c95a] {
        display: none
    }
}

@media (max-width:767px) {
    .payment-hint--hidden[data-v-f958c95a] {
        transform: translateY(100%)
    }
}

.payment-hint__container[data-v-f958c95a] {
    grid-row-gap: 4px;
    display: grid
}

.payment-hint__coins[data-v-f958c95a] {
    grid-column-gap: 4px;
    align-items: center;
    display: grid;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 600;
    grid-auto-flow: column;
    justify-content: start;
    line-height: 1
}

.payment-hint__price[data-v-f958c95a] {
    font-size: 14px;
    font-weight: 700;
    opacity: .7
}

.payment-hint__button[data-v-f958c95a] {
    background-color: #00ff93;
    border-radius: 12px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    text-align: center;
    width: 142px
}

.confirmation {
    grid-column-gap: 12px;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px
}

@media (min-width:768px) and (max-width:1620px) {
    .confirmation {
        margin-left: 98px
    }
}

@media (max-width:767px) {
    .confirmation {
        grid-column-gap: 8px;
        margin-bottom: 12px;
        margin-left: 0;
        width: 100%
    }
}

.confirmation--mobile {
    display: none
}

@media (max-width:767px) {
    .layout .confirmation--mobile {
        display: grid
    }
}

.confirmation__field {
    background-color: #ffffff0d;
    border-radius: 8px;
    display: grid;
    height: 36px;
    overflow: hidden;
    padding: 4px 12px;
    transition-duration: .2s;
    transition-property: background-color;
    transition-timing-function: ease-in-out
}

.confirmation--checked .confirmation__field {
    background-color: #00ff930d
}

.confirmation__field-title {
    color: #ffffff80;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.4;
    transition-duration: .2s;
    transition-property: color;
    transition-timing-function: ease-in-out
}

.confirmation--checked .confirmation__field-title {
    color: #00ff93b3
}

.confirmation__field-value {
    color: #ffffffb3;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    transition-duration: .2s;
    transition-property: color;
    transition-timing-function: ease-in-out
}

.confirmation--checked .confirmation__field-value {
    color: #00ff93b3
}

.confirmation__field-loading {
    height: 12px;
    width: 12px
}