/* @charset "UTF-8";
 */

 @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.widget[data-v-96185686] {
    display: flex;
  font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
    gap: 36px;
    height: 48px;
    justify-content: center;
    line-height: 100%;
    z-index: 99
}

.widget_container[data-v-96185686] {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between;
    max-width: 1520px;
    padding: 10px 0;
    position: relative;
    width: 100%
}

.widget_logo[data-v-96185686] {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content
}

.widget_logo a[data-v-96185686] {
    color: #fff
}

.widget_logo img[data-v-96185686] {
    height: 14px;
    margin-bottom: 10px;
    width: 138px
}

.widget_title[data-v-96185686] {
    font-weight: 500
}

.widget_account[data-v-96185686] {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 237px
}

.widget_account .login-btn[data-v-96185686] {
    width: 140px
}

.widget-item[data-v-96185686] {
    align-items: center;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-weight: inherit;
    padding: 7px;
    position: relative;
    text-align: center
}

.widget-item_text[data-v-96185686] {
  font-family: "Jost", sans-serif;
    font-weight: 400;
    margin-left: 8px;
    text-align: left;
    white-space: nowrap
}

.widget-item_name[data-v-96185686] {
    color: #fff;
    font-size: 14px;
    line-height: 14px
}

.widget-item_description[data-v-96185686] {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    opacity: .5
}

.widget-item_img[data-v-96185686] {
    align-items: center;
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 4px;
    display: flex;
    height: 32px;
    justify-content: center;
    position: relative;
    width: 32px
}

.widget-item_img[data-v-96185686]:hover {
    opacity: .9
}

.widget-item_img-main[data-v-96185686] {
    height: 24px;
    width: 24px
}

.widget-item_img-sub[data-v-96185686] {
    align-items: center;
    display: flex;
    filter: drop-shadow(0 0 3.3333334923px rgba(0, 0, 0, .6));
    justify-content: center;
    left: -4px;
    position: absolute;
    top: -4px
}

.widget-item_img-sub[data-v-96185686],
.widget-item_img-sub img[data-v-96185686] {
    height: 16px;
    width: 16px
}

.widget-item_new[data-v-96185686] {
    background: #00ff92;
    border-radius: 23px;
    color: #121729;
    display: none;
  font-family: "Jost", sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    padding: 0 8px;
    position: absolute;
    right: 8px;
    top: -7px
}

.widget-item.widget_new[data-v-96185686] {
    background: hsla(0, 0%, 100%, .1);
    border-color: #00ff9226
}

.widget-item.widget_new .widget-item_new[data-v-96185686] {
    display: block
}

.widget-item.widget_mobile .widget-item_img-main[data-v-96185686] {
    height: 22px;
    width: 22px
}

.widget-item.widget_mobile .widget-item_img-sub[data-v-96185686] {
    left: -7px;
    top: -5px
}

.widget-item.widget_balance .widget-item_img-main[data-v-96185686] {
    height: 20px;
    width: 20px
}

.widget-item.--active[data-v-96185686] {
    background: hsla(0, 0%, 100%, .05);
    border: 1px solid transparent
}

.widget-item.--active .widget-item_img[data-v-96185686] {
    background: hsla(0, 0%, 100%, .1);
    border: 1px solid transparent
}

.widget-item[data-v-96185686]:hover {
    background: hsla(0, 0%, 100%, .05)
}

.widget-sticky[data-v-96185686] {
    height: 100px;
    left: 0;
    position: sticky;
    right: 0;
    top: 0
}

@media (max-width:1620px) and (min-width:768px) {
    .widget[data-v-96185686] {
        gap: 16px
    }
}

@media (max-width:1280px) {
    .widget[data-v-96185686] {
        background: unset;
        gap: 8px
    }

    .widget_container[data-v-96185686] {
        background: #121729;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-sizing: border-box;
        padding: 20px 16px 4px;
        z-index: 999
    }

    .widget_logo img[data-v-96185686] {
        height: 8px;
        margin-bottom: 2px;
        width: 78px
    }

    .widget_title[data-v-96185686] {
        font-size: 15px;
        font-size: 7px
    }

    .widget-item[data-v-96185686] {
        border: none;
        flex-direction: column;
        padding: 0;
        width: 68px
    }

    .widget-item.--active[data-v-96185686] {
        background: unset
    }

    .widget-item.--active .widget-item_img[data-v-96185686] {
        background: hsla(0, 0%, 100%, .05)
    }

    .widget-item_img[data-v-96185686] {
        border-radius: 6px;
        min-height: 32px;
        width: 68px
    }

    .widget-item_new[data-v-96185686] {
        padding: 0 4px;
        right: 4px
    }

    .widget-item_text[data-v-96185686] {
        margin-left: 0;
        margin-top: 4px;
        text-align: center;
        white-space: unset
    }

    .widget-item_description[data-v-96185686] {
        display: none
    }

    .widget-item_name[data-v-96185686] {
        font-size: 12px;
        line-height: 12px
    }

    .widget-item.widget_new[data-v-96185686] {
        background: transparent;
        border-color: #00ff9226
    }

    .widget-item.widget_new .widget-item_new[data-v-96185686] {
        display: block
    }

    .widget-item.widget_new .widget-item_img[data-v-96185686] {
        background: hsla(0, 0%, 100%, .1)
    }
}

@media (max-width:1280px) and (min-width:768px) {
    .widget_container[data-v-96185686] {
        max-width: 608px
    }

    .widget-item_name[data-v-96185686] {
        font-size: 9px;
        height: 23px;
        line-height: 1
    }

    .widget_account[data-v-96185686] {
        width: 150px
    }

    .widget_account .login-btn[data-v-96185686] {
        height: 34px
    }
}

@media (max-width:767px) {
    .widget[data-v-96185686] {
        height: 53px;
        margin: 0 10px
    }

    .widget_container[data-v-96185686] {
        padding: 15px 16px 10px
    }

    .widget_account .login-btn[data-v-96185686] {
        height: 34px;
        width: 127px
    }

    .widget_logo img[data-v-96185686] {
        height: 13px;
        margin-bottom: 4px;
        width: 130px
    }

    .widget_title[data-v-96185686] {
        font-size: 15px
    }

    .widget_scroll[data-v-96185686] {
        background: #121729;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 58px 0 8px;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-74px);
        transition: transform .3s ease;
        z-index: 666
    }

    .widget_scroll.show[data-v-96185686] {
        transform: translateY(0)
    }
}

.bronze-ticket .ticket-card[data-v-01fb3bf4] {
    fill: #c78262
}

.silver-ticket .ticket-card[data-v-01fb3bf4] {
    fill: #a4d4f7
}

.gold-ticket .ticket-card[data-v-01fb3bf4] {
    fill: #ffe500
}

.header-ticket[data-v-01fb3bf4] {
    fill: #292e3f;
    stroke: #fff
}

.grey-gold-coin path[data-v-01fb3bf4] {
    fill: #ffffffbf
}

.tickets-balance-info[data-v-f6317a0d] {
    display: flex;
    flex-direction: column;
    min-width: 180px
}

.tickets-balance-info__header[data-v-f6317a0d] {
  font-family: "Geologica", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    text-align: left
}

.tickets-balance-info__content[data-v-f6317a0d] {
    align-items: center;
    background: hsla(0, 0%, 100%, .05);
    border-radius: 8px;
    display: flex;
    height: 48px;
    justify-content: center;
    margin-top: 8px
}

.tickets-balance-info__line[data-v-f6317a0d] {
    display: flex;
    gap: 4px
}

.tickets-balance-info__img[data-v-f6317a0d] {
    height: 28px;
    width: 24px
}

.tickets-balance-info__btn[data-v-f6317a0d] {
    align-items: center;
    background: #00ff93;
    border-radius: 8px;
    color: #000;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    gap: 8px;
    height: 40px;
    justify-content: center;
    letter-spacing: 0;
    line-height: 14px;
    margin-top: 8px
}

.tickets-balance-info__btn svg[data-v-f6317a0d] {
    height: 12px;
    width: 12px
}

.tickets-balance-info__btn[data-v-f6317a0d]:hover {
    background: #00e175
}

.kupilliard[data-v-f6317a0d] {
    color: #ffffffb3;
    justify-content: space-between;
    letter-spacing: 0;
    line-height: 19px
}

.kupilliard[data-v-f6317a0d],
.kupilliard_item[data-v-f6317a0d] {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-align: left
}

.kupilliard_item[data-v-f6317a0d] {
    align-items: center;
    gap: 4px;
    letter-spacing: .1em;
    line-height: 22px
}

.kupilliard_item--bronze[data-v-f6317a0d] {
    color: #c78262
}

.kupilliard_item--silver[data-v-f6317a0d] {
    color: #a4d4f7
}

.kupilliard_item--gold[data-v-f6317a0d] {
    color: #ffe500
}

.tickets-balance[data-v-b83a4d35] {
    align-items: center;
    background: hsla(0, 0%, 100%, .1);
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    gap: 4px;
    height: 40px;
    letter-spacing: 0;
    line-height: 22px;
    padding: 0 12px;
    text-align: left
}

.tickets-balance[data-v-b83a4d35],
.tickets-balance_container[data-v-b83a4d35] {
    position: relative
}

.tickets-balance_container:hover .top-up-balance[data-v-b83a4d35] {
    display: inherit
}

.tickets-balance_amount[data-v-b83a4d35] {
    white-space: nowrap
}

.tickets-balance[data-v-b83a4d35]:hover {
    opacity: .75
}

.top-up-balance[data-v-b83a4d35] {
    color: #fff;
    display: none;
    left: 50%;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    transform: translate(-50%);
    width: 234px
}

.top-up-balance a[data-v-b83a4d35] {
    color: #fff
}

.top-up-balance_arrow[data-v-b83a4d35] {
    background: #2a2f3f;
    -webkit-clip-path: polygon(50% 0, 108px 100%, 126px 100%);
    clip-path: polygon(50% 0, 108px 100%, 126px 100%);
    height: 9px;
    margin-bottom: -1px
}

.top-up-balance_body[data-v-b83a4d35] {
    background: #2a2f3f;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    padding: 16px 24px
}

@media (max-width:767px) {
    .tickets-balance[data-v-b83a4d35] {
        font-size: 12px;
        line-height: 12px;
        padding: 0 8px
    }
}

.black-gold-coin path[data-v-93dbc899] {
    fill: #000
}

.grey-gold-coin path[data-v-93dbc899] {
    fill: #ffffffbf
}

.blue-gold-coin path[data-v-93dbc899] {
    fill: #262568
}

.grey-bonus-coin path[data-v-d614c09d] {
    fill: #ffffffbf
}

.black-bonus-coin path[data-v-d614c09d] {
    fill: #000
}

.user-section[data-v-00147981] {
    display: flex;
    gap: 4px
}

.user-section__login-btn[data-v-00147981] {
    align-items: center;
    background: hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
  font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    height: 42px;
    justify-content: center;
    line-height: 22px;
    padding: 0 24px 0 32px
}

.user-section__login-btn>div[data-v-00147981] {
    display: flex
}

.user-section__login-btn img[data-v-00147981] {
    height: 16px;
    width: 16px
}

.user-section__login-btn img[data-v-00147981]:last-child {
    margin-left: 2px
}

.user-section__user-btn[data-v-00147981] {
    cursor: pointer
}

.gold-balance[data-v-00147981] {
    border-radius: 32px;
    color: #000;
    cursor: pointer;
  font-family: "Jost", sans-serif;
    font-size: 14px;
    font-weight: 500;
    gap: 4px;
    height: 40px;
    line-height: 14px;
    padding: 0 12px;
    position: relative
}

.gold-balance[data-v-00147981],
.gold-balance_plus[data-v-00147981] {
    align-items: center;
    background: #ffe500;
    display: flex
}

.gold-balance_plus[data-v-00147981] {
    border: 1px solid #121729;
    border-radius: 20px;
    height: 16px;
    justify-content: center;
    line-height: .1;
    position: absolute;
    right: 2px;
    top: -3px;
    width: 16px
}

.gold-balance_container[data-v-00147981] {
    position: relative
}

.gold-balance[data-v-00147981]:hover {
    opacity: .75
}

.bonuses[data-v-00147981] {
    align-items: center;
    background: rgba(0, 255, 147, .1);
    border-radius: 32px;
    color: #00ff93;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0 12px;
    position: relative
}

.bonuses_amount[data-v-00147981] {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin-left: 4px
}

.bonuses_coin[data-v-00147981] {
    margin-left: 3px
}

@media (max-width:767px) {
    .gold-balance[data-v-00147981] {
        font-size: 12px;
        line-height: 12px;
        padding: 0 8px
    }

    .bonuses[data-v-00147981] {
        padding: 0 8px
    }

    .bonuses_amount[data-v-00147981] {
        font-size: 12px;
        line-height: 12px
    }
}

.header[data-v-d4d7f3d4] {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: #14151b;
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    left: 0;
    padding: 20px 0 19px;
    position: fixed;
    right: 0;
    top: 0;
    transition: padding .3s ease-out;
    z-index: 10
}

.header-flag[data-v-d4d7f3d4] {
    position: absolute;
    top: 0
}

.header__top[data-v-d4d7f3d4] {
    height: 43px;
    justify-content: space-between;
    z-index: 667
}

.header__section[data-v-d4d7f3d4],
.header__top[data-v-d4d7f3d4] {
    align-items: center;
    display: flex
}

.header__section[data-v-d4d7f3d4] {
    gap: 24px;
    position: relative
}

.header__logo[data-v-d4d7f3d4] {
    display: flex;
    flex-direction: column
}

.header__logo span[data-v-d4d7f3d4] {
    color: #fff;
    display: block;
  font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 2px
}

.header__links[data-v-d4d7f3d4] {
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .2s ease-in-out;
    z-index: 666
}

.header__links__hidden[data-v-d4d7f3d4] {
    opacity: 0;
    z-index: -1
}

.header__burger[data-v-d4d7f3d4] {
    display: none
}

.header__mobile-navigation[data-v-d4d7f3d4] {
    position: absolute;
    right: 0;
    top: calc(100% + 9px)
}

@media (max-width:1620px) {
    .header__logo svg[data-v-d4d7f3d4] {
        height: 20px;
        width: 139px
    }

    .header__logo span[data-v-d4d7f3d4] {
        font-size: 10px;
        margin-top: 5px
    }
}

@media (max-width:1280px) {
    .header[data-v-d4d7f3d4] {
        padding: 9px 0 14px
    }

    .header__navigation[data-v-d4d7f3d4] {
        display: none
    }

    .header__top[data-v-d4d7f3d4] {
        height: 65px
    }

    .header__burger[data-v-d4d7f3d4] {
        align-items: center;
        background: hsla(0, 0%, 100%, .1);
        border-radius: 30px;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px
    }
}

@media (max-width:767px) {
    .header[data-v-d4d7f3d4] {
        opacity: 1;
        padding: 15px 0 84px
    }

    .header__smooth[data-v-d4d7f3d4] {
        padding: 15px 0;
        transform: translateY(0)
    }

    .header__top[data-v-d4d7f3d4] {
        height: 34px
    }

    .header__links[data-v-d4d7f3d4] {
        top: 61px;
        transform: translate(-50%)
    }

    .header__logo svg[data-v-d4d7f3d4] {
        height: 18px;
        width: 130px
    }

    .header__logo span[data-v-d4d7f3d4] {
        font-size: 11px;
        line-height: 100%;
        margin-top: 4px
    }

    .header__section[data-v-d4d7f3d4] {
        align-items: flex-start;
        flex-direction: column;
        gap: 16px
    }

    .header__mobile-navigation[data-v-d4d7f3d4] {
        right: -10px
    }
}

.ticker[data-v-18110042] {
    content: "";
    height: 52px;
    left: 0;
    position: absolute;
    right: 0;
    top: -85px
}

@media (max-width:1280px) {
    .ticker[data-v-18110042] {
        top: -52px
    }
}

@media (max-width:767px) {
    .ticker[data-v-18110042] {
        top: -52px
    }
}

.ticker_text[data-v-18110042] {
    left: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: -45px
}

.ticker_text p[data-v-18110042] {
    background: hsla(0, 0%, 100%, .05);
    border-radius: 8px;
    padding: 8px 16px
}

.ticker_text .container[data-v-18110042] {
    display: flex;
    margin: 0 auto;
    max-width: 100%
}

.marquee[data-v-18110042] {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

.marquee_container[data-v-18110042] {
    animation: marquee-18110042 50s linear infinite;
    display: flex;
    gap: 8px;
    height: 52px;
    overflow: hidden;
    position: absolute;
    width: 7950px;
    will-change: transform
}

.marquee span[data-v-18110042] {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: space-around;
    width: 200%
}

.marquee img[data-v-18110042] {
    border-radius: 4px;
    height: 36px;
    width: 36px
}

.marquee__item[data-v-18110042] {
    align-items: center;
    background: hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
    height: 52px;
    line-height: 20px;
    padding: 8px;
    transition: all .5s cubic-bezier(.19, 1, .22, 1);
    white-space: nowrap
}

@keyframes marquee-18110042 {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-50%)
    }
}

@supports (-webkit-overflow-scrolling:touch) {
    @keyframes marquee-18110042 {
        0% {
            transform: translate(0)
        }

        to {
            transform: translate(-100%)
        }
    }
}

@media (max-width:1620px) {
    .ticker_text .container[data-v-18110042] {
        max-width: 90vw;
        overflow-x: hidden
    }
}

@media (max-width:1280px) {
    .ticker[data-v-18110042] {
        bottom: 586px
    }

    .ticker_text .container[data-v-18110042] {
        max-width: 50vw;
        overflow-x: hidden
    }
}

@media (max-width:767px) {
    .ticker[data-v-18110042] {
        bottom: 1017px
    }

    .ticker_text p[data-v-18110042] {
        margin-left: 16px
    }
}

@media (max-width:685px) {
    .ticker[data-v-18110042] {
        bottom: 1017px
    }

    .ticker_text[data-v-18110042] {
        top: -67px
    }

    .ticker_text p[data-v-18110042] {
        margin-left: 16px
    }
}

.footer_adress[data-v-0360ddb1] {
    margin-top: 20px;
    max-width: 300px
}

.footer_adress span[data-v-0360ddb1] {
    font-weight: 500
}

.terms-none[data-v-0360ddb1]:before {
    content: "Юридическая информация:";
    font-weight: 700
}

.terms-none[data-v-0360ddb1] {
    display: inline
}

.terms-none2[data-v-0360ddb1]:before {
    content: "ONEUP LP, Company Number LP023072"
}

.terms-none2[data-v-0360ddb1] {
    display: inline
}

.terms-none3[data-v-0360ddb1]:before {
    content: "Адрес: 63-66 Hatton Garden Fifth Floor Suite 23, London, EC1N 8LE"
}

.terms-none3[data-v-0360ddb1] {
    display: inline
}

.policy ol[data-v-6d1f5369] {
    color: #fff;
    counter-reset: li;
    list-style: none;
    text-align: left
}

.policy ol span[data-v-6d1f5369] {
    font-weight: 500
}

.policy ol li[data-v-6d1f5369] {
    display: flex
}

.policy ol li div[data-v-6d1f5369] {
    padding-left: 5px
}

.policy ol li h2[data-v-6d1f5369] {
    font-weight: 700
}

.policy ol li p[data-v-6d1f5369] {
    margin: 5px 0
}

.policy ol li[data-v-6d1f5369]:before {
    content: counters(li, ".") ". ";
    counter-increment: li;
    font-size: 13px
}

.terms span[data-v-a309f020] {
    font-weight: 500
}

.terms a[data-v-a309f020] {
    font-size: 14px;
    line-height: 18px
}

.terms ol[data-v-a309f020] {
    color: #fff;
    counter-reset: li;
    list-style: none;
    text-align: left
}

.terms ol li[data-v-a309f020] {
    display: flex
}

.terms ol li div[data-v-a309f020] {
    padding-left: 5px
}

.terms ol li h2[data-v-a309f020] {
    font-weight: 700
}

.terms ol li p[data-v-a309f020] {
    margin: 5px 0
}

.terms ol li[data-v-a309f020]:before {
    content: counters(li, ".") ". ";
    counter-increment: li;
    font-size: 13px
}

.terms-none[data-v-a309f020]:before {
    content: "Юридическая информация:";
    font-weight: 700
}

.terms-none[data-v-a309f020] {
    display: inline
}

.terms-none2[data-v-a309f020]:before {
    content: "ONEUP LP, Company Number LP023072"
}

.terms-none2[data-v-a309f020] {
    display: inline
}

.terms-none3[data-v-a309f020]:before {
    content: "Адрес: 63-66 Hatton Garden Fifth Floor Suite 23, London, EC1N 8LE"
}

.terms-none3[data-v-a309f020] {
    display: inline
}

.footer_item_year[data-v-d6c95568] {
    margin-top: 30px
}

.footer-container[data-v-d6c95568] {
    position: relative;
    width: 100%
}

.footer_social-img[data-v-d6c95568] {
    height: auto;
    max-width: 100%
}

.footer[data-v-d6c95568] {
    bottom: 0;
    color: #857ef9;
    left: 50%;
    position: relative;
    top: 0;
    transform: translate(-50%);
    width: 1520px
}

.footer[data-v-d6c95568],
.footer_card[data-v-d6c95568] {
    display: flex;
    flex-direction: column
}

.footer_card[data-v-d6c95568] {
    background: rgba(0, 255, 146, .1);
    border-radius: 8px;
    gap: 12px;
    padding: 24px;
    width: 100%
}

.footer_card p[data-v-d6c95568] {
    color: #00ff92;
    font-size: 14px;
    text-align: left
}

.footer_card button[data-v-d6c95568],
.footer_card p[data-v-d6c95568] {
  font-family: "Geologica", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 120%
}

.footer_card button[data-v-d6c95568] {
    background: #00ff92;
    border-radius: 8px;
    color: #131313;
    font-size: 12px;
    padding: 8px;
    text-align: center;
    width: 100%
}

.footer_row[data-v-d6c95568] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%
}

@media (max-width:575px) {
    .footer_row[data-v-d6c95568] {
        margin-top: 30px
    }
}

.footer_upper[data-v-d6c95568] {
    padding: 46px 0 32px
}

.footer_bottom[data-v-d6c95568],
.footer_upper[data-v-d6c95568] {
    align-items: flex-start;
    border-top: 1px solid hsla(0, 0%, 100%, .15);
    color: #857ef9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.footer_bottom[data-v-d6c95568] {
    padding: 32px 0
}

.footer_bottom-company[data-v-d6c95568] {
    max-width: 362px;
    text-align: left
}

.footer_bottom-company[data-v-d6c95568]:after {
    color: #ffffff80;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0
}

.footer_bottom-container[data-v-d6c95568] {
    display: flex;
    flex-direction: row;
    gap: 24px
}

.footer_bottom-link[data-v-d6c95568] {
    color: #fff;
  font-family: "Geologica", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    opacity: .5;
    text-align: left;
    text-decoration-line: underline
}

.footer_logo[data-v-d6c95568] {
    text-align: left
}

.footer_logo-img[data-v-d6c95568] {
    height: 14px;
    opacity: .7;
    width: 140px
}

.footer_logo-box[data-v-d6c95568] {
    display: flex;
    flex-direction: row;
    gap: 12px
}

.footer_logo-container[data-v-d6c95568] {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px
}

.footer_logo span[data-v-d6c95568] {
    color: #fff;
    display: block;
  font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 20px;
    opacity: .2
}

.footer_links[data-v-d6c95568] {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.footer_links p[data-v-d6c95568] {
    color: #fff;
  font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 8px;
    opacity: .75;
    text-align: left
}

.footer_links a[data-v-d6c95568] {
    align-items: center;
    display: flex;
    gap: 8px
}

.footer_links a[data-v-d6c95568],
.footer_links span[data-v-d6c95568] {
    color: #ffffff80;
    font-size: 16px;
    font-weight: 500;
    line-height: 134%
}

.footer_links span[data-v-d6c95568] {
    text-decoration: underline
}

.footer_link[data-v-d6c95568] {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    transition: color .1s ease
}

.footer_link[data-v-d6c95568]:hover {
    color: #fff
}

.footer_social[data-v-d6c95568] {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 32px
}

.footer_social-background[data-v-d6c95568] {
    align-items: center;
    background: hsla(0, 0%, 100%, .05);
    border-radius: 50%;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 7px;
    width: 32px
}

.footer_social-little[data-v-d6c95568] {
    height: 10px;
    width: 20px
}

.footer_social p[data-v-d6c95568] {
    color: #fff;
  font-family: "Geologica", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: .55
}

.footer_socials[data-v-d6c95568] {
    display: flex;
    flex-direction: column;
    width: 292px
}

.footer_socials-title[data-v-d6c95568] {
    color: #fff;
  font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 12px;
    opacity: .75;
    text-align: left
}

.footer_socials-container[data-v-d6c95568] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 100%
}

.footer .socials[data-v-d6c95568] {
    margin-top: 0
}

.footer-order[data-v-d6c95568] {
    color: #ffffff80;
    flex-direction: row
}

.grey-bg .footer[data-v-d6c95568] {
    color: #ffffff80
}

@media (max-width:1550px) {
    .footer[data-v-d6c95568] {
        width: 1240px
    }
}

@media (max-width:1280px) {
    .footer[data-v-d6c95568] {
        padding: 24px 0;
        width: calc(100% - 40px)
    }

    .footer_logo-box[data-v-d6c95568],
    .footer_row[data-v-d6c95568] {
        flex-direction: column
    }

    .footer_row[data-v-d6c95568] {
        gap: 32px
    }

    .footer_socials[data-v-d6c95568] {
        margin-bottom: auto
    }

    .footer-order[data-v-d6c95568] {
        flex-direction: column
    }
}

@media (max-width:1280px) and (min-width:768px) {
    .footer_socials-container[data-v-d6c95568] {
        -moz-column-gap: 54px;
        column-gap: 54px;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 12px
    }
}

@media (max-width:685px) {
    .footer_row[data-v-d6c95568] {
        width: 100%
    }

    .footer_socials[data-v-d6c95568] {
        margin-top: 32px;
        width: 100%
    }

    .footer_bottom[data-v-d6c95568],
    .footer_upper[data-v-d6c95568] {
        flex-direction: column
    }

    .footer_bottom[data-v-d6c95568] {
        width: 100%
    }

    .footer_bottom-container[data-v-d6c95568] {
        flex-direction: column;
        gap: 12px;
        margin-top: 32px
    }

    .footer_logo[data-v-d6c95568] {
        width: 100%
    }

    .footer_logo-container[data-v-d6c95568] {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: space-between;
        width: 100%
    }
}