@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
;

body.grey-bg {
    background: #14151b
}

.video[data-v-6588947c] {
    border-radius: 12px;
    height: 158px;
    width: 280px
}

.line[data-v-6588947c] {
    background: #ffffff1a;
    height: 1px;
    margin-top: 16px;
    width: 100%
}

.overlay[data-v-6588947c] {
    background: #14151b;
    display: none;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 54px;
    width: 424px;
    z-index: 999
}

.games[data-v-6588947c] {
    min-height: 250px;
    position: relative
}

.games[data-v-6588947c],
.games_container[data-v-6588947c] {
    display: flex;
    flex-direction: column
}

.games_container[data-v-6588947c] {
    width: 75%
}

.games_review[data-v-6588947c] {
    display: flex;
    flex-direction: column;
    margin-top: 11px
}

.games_review-metacritic-vertical[data-v-6588947c] {
    border-right: 1px solid #fff;
    display: inline;
    height: 14px;
    margin-left: 8px;
    margin-right: 8px;
    opacity: .75
}

.games_review-score[data-v-6588947c] {
    color: #00ff93
}

.games_review-date[data-v-6588947c],
.games_review-score[data-v-6588947c] {
    font-family: "Geologica", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    text-align: left
}

.games_review-date[data-v-6588947c] {
    color: #fff;
    margin-top: 11px;
    opacity: .5
}

.games_review-positive[data-v-6588947c] {
    color: #00ff93
}

.games_review-negative[data-v-6588947c],
.games_review-positive[data-v-6588947c] {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: "Geologica", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px
}

.games_review-negative[data-v-6588947c] {
    color: #ff3e60;
    margin-left: 8px
}

.games_preview[data-v-6588947c] {
    display: none;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 328px;
    position: absolute;
    right: 0;
    top: 80%
}

.games_preview[data-v-6588947c],
.games_preview-swiper[data-v-6588947c] {
    border-radius: 12px
}

.games_preview-metacritic[data-v-6588947c] {
    color: #ffffffbf;
    display: flex;
    flex-direction: column;
    font-family: "Geologica", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    margin-top: 13px;
    text-align: left
}

.games_preview-metacritic-vertical[data-v-6588947c] {
    border-right: 1px solid #fff;
    display: inline;
    margin-left: 8px
}

.games_preview-metacritic-row[data-v-6588947c] {
    margin-top: 8px
}

.games_preview-metacritic svg[data-v-6588947c] {
    display: inline
}

.games_preview-metacritic span[data-v-6588947c] {
    color: #00ff93;
    font-family: "Geologica", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    margin-top: 8px
}

.games_preview-metacritic span.games_preview-metacritic-negative[data-v-6588947c] {
    color: #ff3e60;
    margin-left: 4px
}

.games_preview-container[data-v-6588947c] {
    background: #ffffff1a;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 12px;
    padding: 24px;
    position: relative;
    width: 100%;
    z-index: 1000
}

.games_preview-container span[data-v-6588947c] {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: left
}

.games_preview-container p[data-v-6588947c] {
    color: #fff;
    font-family: "Geologica", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    margin-top: 8px;
    text-align: left
}

.games_preview-layout[data-v-6588947c] {
    background: #14151b;
    height: 100%;
    left: 0;
    padding: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9
}

.games_image[data-v-6588947c] {
    height: 72px;
    margin-right: 15px;
    width: 154px
}

.games_btn-filters[data-v-6588947c] {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.games_btn-filters-item[data-v-6588947c] {
    background: transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    padding: 16px 24px;
    width: -moz-fit-content;
    width: fit-content
}

.games_btn-filters-item[data-v-6588947c],
.games_btn-filters-item-active[data-v-6588947c] {
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 12px
}

.games_btn-filters-item-active[data-v-6588947c] {
    background: #ffffff1a
}

.games_checkbox[data-v-6588947c] {
    background: #ffffff1a;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 4px;
    cursor: pointer;
    height: 24px;
    margin-right: 8px;
    width: 24px
}

.games_checkbox[data-v-6588947c]:before {
    border-radius: 5px;
    content: "";
    height: 24px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 24px
}

.games_checkbox[data-v-6588947c]:before,
.games_checkbox[data-v-6588947c]:checked:before {
    background-color: transparent
}

.games_checkbox[data-v-6588947c]:checked:after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    content: "";
    display: block;
    height: 12px;
    left: 9px;
    position: absolute;
    top: 9px;
    transform: rotate(45deg);
    width: 7px
}

.games_checkbox_discount[data-v-6588947c] {
    background: #00ff92;
    border-radius: 4px;
    -webkit-clip-path: polygon(0 50%, 15px 0, 100% 0, 100% 100%, 15px 100%);
    clip-path: polygon(0 50%, 15px 0, 100% 0, 100% 100%, 15px 100%);
    color: #2e2e2e;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    left: 100%;
    line-height: 14px;
    padding: 3px 6px 3px 15px;
    position: absolute;
    top: -2px;
    transform: rotate(-12.158deg);
    z-index: 1
}

.games_label[data-v-6588947c] {
    font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 3px;
    text-align: right
}

.games_btn[data-v-6588947c],
.games_label[data-v-6588947c] {
    color: #fff;
    font-style: normal
}

.games_btn[data-v-6588947c] {
    align-self: center;
    background: #ffffff1a;
    border-radius: 12px;
    cursor: pointer;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 64px;
    padding: 18px 0;
    text-align: center;
    width: 204px
}

.games_btn[data-v-6588947c],
.games_title[data-v-6588947c] {
    font-size: 20px;
    font-weight: 700
}

.games_title[data-v-6588947c] {
    color: #fff;
  font-family: "Geologica", sans-serif;
    font-style: normal;
    line-height: 20px;
    text-align: left
}

.games_tags[data-v-6588947c] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 12px;
    padding-right: 8px
}

.games_tags-item[data-v-6588947c] {
    background: #ffffff1a;
    border-radius: 4px;
    color: #fff;
  font-family: "Geologica", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 134%;
    padding: 8px 12px
}

.games_top[data-v-6588947c] {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px
}

.games_header[data-v-6588947c] {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    text-align: left
}

.games_filters[data-v-6588947c] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%
}

.games_pagination[data-v-6588947c] {
    margin: 56px auto 0
}

.games.loading[data-v-6588947c] {
    opacity: .6;
    pointer-events: none
}

.games.loading img[data-v-6588947c]:not(.games_image, .pseudo-select_arrow) {
    height: 40px;
    left: 50%;
    position: absolute;
    top: 100px;
    transform: translate(-50%);
    width: 40px
}

.games_empty[data-v-6588947c] {
    font-weight: 700;
    margin: 80px 0
}

.games_empty-smile[data-v-6588947c] {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px
}

.games_empty-text[data-v-6588947c] {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 18px
}

.games_empty-reset[data-v-6588947c] {
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 28px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 28px;
    padding: 7px 16px
}

.games_item[data-v-6588947c] {
    align-items: center;
    background: transparent;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    width: 100%
}

.games_item[data-v-6588947c]:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0
}

.games_item-discount[data-v-6588947c] {
    background: #3c795f;
    color: #00ff93;
    left: 8px
}

.games_item-discount[data-v-6588947c],
.games_item-value[data-v-6588947c] {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 12px;
    position: absolute;
    top: 8px
}

.games_item-value[data-v-6588947c] {
    background: #2e2e2e;
    color: #fff;
    right: 8px
}

.games_discount[data-v-6588947c] {
    background: #00ff92;
    border-radius: 2px;
    bottom: 7px;
    -webkit-clip-path: polygon(0 50%, 8px 0, 100% 0, 100% 100%, 8px 100%);
    clip-path: polygon(0 50%, 8px 0, 100% 0, 100% 100%, 8px 100%);
    color: #2e2e2e;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    left: 80%;
    line-height: 14px;
    padding: 1px 2px 1px 6px;
    position: absolute;
    transform: rotate(-12.158deg);
    z-index: 1
}

.games_price-wrap[data-v-6588947c] {
    display: flex;
    margin-left: auto
}

.games_prices[data-v-6588947c] {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-width: 130px;
    position: relative
}

.games_prices-name[data-v-6588947c] {
    font-family: "Geologica", sans-serif;
    font-weight: 500;
    text-align: left
}

.games_price-old[data-v-6588947c],
.games_prices-name[data-v-6588947c] {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    line-height: 134%
}

.games_price-old[data-v-6588947c] {
    font-weight: 400;
    opacity: .3 !important;
    text-decoration-line: line-through
}

.games_price-gold[data-v-6588947c] {
    color: #fff;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    text-align: center
}

.games_price-new[data-v-6588947c] {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    gap: 4px;
    line-height: 1;
    margin-top: 8px;
    position: relative
}

.games_price-new p[data-v-6588947c],
.games_price-new span[data-v-6588947c] {
    color: #fff;
    font-family: "Geologica", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 134%;
    opacity: .5
}

.games_price-new span[data-v-6588947c] {
    position: inherit;
    z-index: 2
}

.games_price-new-mini[data-v-6588947c] {
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    position: relative
}

.games_price-new-mini span[data-v-6588947c] {
    position: inherit;
    z-index: 2
}

.games-banner[data-v-6588947c] {
    content: "";
    height: 720px;
    left: 0;
    position: absolute;
    right: 0;
    top: 83px
}

.games-banner_item[data-v-6588947c] {
    background-size: cover;
    display: block;
    height: 720px
}

.back[data-v-6588947c] {
    text-align: left
}

.back span[data-v-6588947c] {
    align-items: center;
    background: #ffffff26;
    border-radius: 20px;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    width: 40px
}

.back span svg[data-v-6588947c] {
    height: 12px;
    width: 7px
}

.back_text[data-v-6588947c] {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin-left: 8px
}

.pagination[data-v-6588947c] {
    -moz-column-gap: 4px;
    column-gap: 4px;
    position: relative;
    width: -moz-fit-content;
    width: fit-content
}

.pagination[data-v-6588947c],
.pagination_item[data-v-6588947c] {
    align-items: center;
    display: flex;
    justify-content: center
}

.pagination_item[data-v-6588947c] {
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    line-height: 1;
    width: 64px
}

.pagination_item-active[data-v-6588947c] {
    background: #ffffff0d;
    pointer-events: none
}

.pagination_item-disabled[data-v-6588947c] {
    pointer-events: none
}

.pagination_arrow[data-v-6588947c] {
    align-items: center;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 48px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px
}

.pagination_prev[data-v-6588947c] {
    left: -64px
}

.pagination_next[data-v-6588947c] {
    right: -64px
}

.swiper[data-v-6588947c] {
    overflow-y: inherit
}

.top-filters_selects[data-v-6588947c] {
    -moz-column-gap: 12px;
    column-gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.top-filters_chips[data-v-6588947c] {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 12px
}

.top-filters_chip[data-v-6588947c] {
    align-items: center;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 28px;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    line-height: 20px;
    padding: 8px 16px
}

.top-filters_chip svg[data-v-6588947c] {
    cursor: pointer;
    margin-left: 8px
}

.top-filters_separator[data-v-6588947c] {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    margin: 28px 0 12px
}

.pseudo-select[data-v-6588947c] {
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 12px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    height: 56px;
    line-height: 16px;
    position: relative;
    text-align: left
}

.pseudo-select_placeholder[data-v-6588947c] {
    color: #fff;
    left: 16px;
    opacity: .5;
    overflow: hidden;
    position: absolute;
    right: 37px;
    top: 50%;
    transform: translateY(-50%)
}

.pseudo-select_handler[data-v-6588947c] {
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute
}

.pseudo-select_arrow[data-v-6588947c] {
    cursor: pointer;
    height: 7px;
    max-height: 7px;
    max-width: 14px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .2s linear;
    width: 14px
}

.pseudo-select_arrow-active[data-v-6588947c] {
    transform: rotate(180deg)
}

.pseudo-select_list[data-v-6588947c] {
    background: #37383d;
    border-radius: 12px;
    left: 0;
    max-height: 276px;
    overflow-y: scroll;
    padding: 16px 16px 0;
    position: absolute;
    right: 0;
    top: 63px;
    z-index: 3
}

.pseudo-select_list-grid[data-v-6588947c] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 8px
}

.pseudo-select_list-grid .pseudo-select_item[data-v-6588947c] {
    border-radius: 3px;
    margin-bottom: 0;
    padding: 8px 2px;
    text-align: center
}

.pseudo-select_item[data-v-6588947c] {
    cursor: pointer;
    margin-bottom: 16px;
    position: relative
}

.pseudo-select_item-active[data-v-6588947c] {
    background: #ffffff1a
}

.pseudo-select_item svg[data-v-6588947c] {
    position: absolute;
    right: 0;
    top: 2px
}

.pseudo-select_search[data-v-6588947c] {
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    height: 32px;
    line-height: 1;
    margin-bottom: 24px;
    position: relative;
    width: 100%
}

.pseudo-select_search svg[data-v-6588947c] {
    height: 16px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 16px
}

.pseudo-select_search input[data-v-6588947c] {
    background: transparent;
    border: none;
    font-size: 16px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 16px;
    padding: 2px 0 0 32px;
    position: absolute
}

.pseudo-select_search input[data-v-6588947c]:focus-visible {
    outline: none
}

@media (max-width:1550px) and (min-width:1281px) {
    .games_input[data-v-6588947c] {
        margin-right: 56px;
        width: 260px
    }
}

@media (max-width:1550px) {
    .games_item[data-v-6588947c] {
        margin-left: auto;
        margin-right: auto;
        width: 95%
    }

    .games_item-discount[data-v-6588947c],
    .games_item-value[data-v-6588947c] {
        padding: 8px
    }

    .games_container[data-v-6588947c] {
        gap: 15px
    }

    .games_top[data-v-6588947c] {
        margin-bottom: 40px
    }

    .games_header[data-v-6588947c] {
        font-size: 30px
    }

    .games_input[data-v-6588947c] {
        margin-right: 36px;
        width: 100%
    }

    .games_pagination[data-v-6588947c] {
        margin: 30px auto
    }

    .games_empty[data-v-6588947c] {
        margin-top: 0
    }

    .games-filters[data-v-6588947c] {
        width: 50%
    }

    .games_item:hover .games_preview[data-v-6588947c] {
        display: none
    }
}

@media (max-width:1280px) {
    .top-filters_selects[data-v-6588947c] {
        grid-template-columns: 1fr;
        row-gap: 12px
    }
}

@media (max-width:960px) {
    .games_filters[data-v-6588947c] {
        width: 60%
    }
}

@media screen and (max-width:870px) {
    .back_text[data-v-6588947c] {
        display: none
    }
}

@media (max-width:767px) {
    .games_filters[data-v-6588947c] {
        width: 71%
    }

    .back[data-v-6588947c] {
        margin-left: 15px
    }

    .games_btn-filters[data-v-6588947c] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 16px
    }

    .games_btn-filters-item[data-v-6588947c] {
        background: transparent;
        color: #fff;
        cursor: pointer;
      font-family: "Geologica", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        padding: 16px 24px
    }

    .games_btn-filters-item[data-v-6588947c],
    .games_btn-filters-item-active[data-v-6588947c] {
        border: 1px solid hsla(0, 0%, 100%, .15);
        border-radius: 12px
    }

    .games_btn-filters-item-active[data-v-6588947c] {
        background: #ffffff1a
    }
}

@media (max-width:570px) {
    .games_title[data-v-6588947c] {
        color: #fff;
      font-family: "Geologica", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-align: left;
        width: 100px
    }

    .games_review[data-v-6588947c] {
        display: none;
        margin-top: 5px;
        max-width: 150px
    }

    .games_review-negative[data-v-6588947c],
    .games_review-positive[data-v-6588947c],
    .games_review-score[data-v-6588947c] {
        font-size: 10px
    }

    .games_review-date[data-v-6588947c] {
        font-size: 10px;
        margin-top: 5px
    }

    .games_prices-name[data-v-6588947c] {
        font-size: 10px
    }

    .games_price-gold[data-v-6588947c],
    .games_price-new[data-v-6588947c] {
        font-size: 14px
    }

    .games_price-new p[data-v-6588947c],
    .games_price-new span[data-v-6588947c] {
        font-size: 10px
    }

    .games_price-old[data-v-6588947c] {
        font-size: 12px
    }

    .games_discount[data-v-6588947c] {
        font-size: 10px;
        left: 55%;
        line-height: 14.356px
    }

    .games_btn-filters-item[data-v-6588947c] {
        font-size: 14px
    }

    .games_item[data-v-6588947c] {
        margin-bottom: 12px;
        padding: 0
    }

    .games_image[data-v-6588947c] {
        align-self: flex-start;
        height: 32px;
        margin-right: 8px;
        width: 88px
    }

    .games_prices[data-v-6588947c] {
        align-items: flex-end;
        min-width: unset
    }
}

@media (max-width:690px) {
    .games[data-v-6588947c] {
        margin-top: 90px
    }

    .games_top[data-v-6588947c] {
        justify-content: space-between;
        width: 100%
    }

    .games_filters[data-v-6588947c] {
        width: auto
    }
}

@media (max-width:800px) {
    .games_container[data-v-6588947c] {
        width: 100%
    }

    .games_checkbox[data-v-6588947c]:checked:after {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        content: "";
        display: block;
        height: 12px;
        left: 8px;
        position: absolute;
        top: 6px;
        transform: rotate(45deg);
        width: 7px
    }
}

@media (max-width:610px) {
    .games[data-v-6588947c] {
        margin: 90px 0 0;
        padding: 0 10px;
        width: 100%
    }

    .games_container[data-v-6588947c] {
        justify-content: center
    }

    .games_top[data-v-6588947c] {
        margin-bottom: 30px
    }

    .games_header[data-v-6588947c] {
        font-size: 25px
    }

    .games_input[data-v-6588947c] {
        height: 48px
    }

    .games_input input[data-v-6588947c] {
        font-size: 13px
    }

    .games_input svg[data-v-6588947c] {
        right: 55px
    }

    .games_pagination[data-v-6588947c] {
        margin: 30px auto
    }

    .back[data-v-6588947c] {
        margin-left: 5px
    }
}

.product_region[data-v-6588947c] {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 16px;
    width: 175px
}

.product_region-btn[data-v-6588947c] {
    margin-right: 8px;
    padding: 17px 16px
}

.product_region-btn[data-v-6588947c],
.product_region-btn-mini[data-v-6588947c] {
    background: #00ff93;
    border-radius: 4px;
    color: #14151b;
  font-family: "Geologica", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px
}

.product_region-btn-mini[data-v-6588947c] {
    padding: 17px 0;
    width: 90%
}

.product_region-price[data-v-6588947c] {
    color: #fff;
  font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px
}

.product_region-container[data-v-6588947c] {
    flex-direction: row;
    justify-content: space-between
}

.product_region-container[data-v-6588947c],
.product_region-container-mini[data-v-6588947c] {
    align-items: center;
    background: #ffffff1a;
    border-radius: 12px;
    display: flex;
    padding: 8px 0;
    width: 100%
}

.product_region-container-mini[data-v-6588947c] {
    flex-direction: column
}

.product_region-container-disabled[data-v-6588947c] {
    background: #ffe500;
    border-radius: 12px;
    margin-top: 36px
}

.product_region-container-disabled-mini[data-v-6588947c] {
    align-items: flex-start;
    background: #ffe500;
    border-radius: 12px
}

.product_region-container-disabled-mini p[data-v-6588947c] {
    font-size: 14px;
    line-height: 20px
}

.product_region-container-disabled p[data-v-6588947c],
.product_region-container-disabled-mini p[data-v-6588947c] {
    color: #14151b;
  font-family: "Geologica", sans-serif;
    font-style: normal;
    font-weight: 500
}

.product_region-container-disabled p[data-v-6588947c] {
    font-size: 16px;
    line-height: 24px
}

.product_region-container-img[data-v-6588947c] {
    align-items: center;
    background: #ffffff1a;
    border-radius: 28px;
    display: flex;
    height: 42px;
    justify-content: center;
    margin-left: 16px;
    margin-right: 12px;
    min-width: 40px;
    width: 40px
}

.product_region-container-img-disabled[data-v-6588947c] {
    background: #0000001a;
    border-radius: 28px
}

.product_region-container-result[data-v-6588947c] {
    height: 42px;
    min-width: 40px;
    width: 40px
}

.product_region div[data-v-6588947c],
.product_region-container-result[data-v-6588947c] {
    align-items: center;
    background: #ffffff1a;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    margin-right: 12px
}

.product_region div[data-v-6588947c] {
    height: 48px;
    min-width: 48px;
    width: 48px
}

.product_region p[data-v-6588947c] {
    color: #fff;
  font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: left
}

input[type=checkbox][data-v-6588947c],
input[type=radio][data-v-6588947c] {
    -webkit-appearance: none;
    border: 1px solid transparent;
    -webkit-transition: box-shadow .2s;
    vertical-align: middle
}

@media (max-width:768px) {
    .product_region[data-v-6588947c] {
        flex-direction: row-reverse
    }
}

[data-v-6588947c] {
    --swiper-pagination-bottom: -24px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-bullet-width: 48px;
    --swiper-pagination-bullet-border-radius: 16px;
    --swiper-pagination-bullet-height: 4px;
    --swiper-pagination-bullet-inactive-color: hsla(0, 0%, 100%, .25);
    --swiper-pagination-color: #fff
}

.games_search {
    align-items: center;
    display: flex;
    height: 48px;
    margin-right: 68px;
    position: relative;
    width: 330px
}

.games_search.games_input input {
    background: #ffffff1a;
    border: 1px solid transparent;
    border-radius: 12px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 13px 39px;
    position: absolute;
    width: 100%;
    z-index: 1
}

.games_search.games_input input:focus {
    border: 1px solid hsla(0, 0%, 100%, .1)
}

.games_search.games_input input::-moz-placeholder {
    color: #646871
}

.games_search.games_input input::placeholder {
    color: #646871
}

@media (max-width:690px) {
    .games_search {
        top: -84px
    }

    .games_search.games_input {
        margin-left: 15px;
        position: absolute;
        width: calc(100% - 30px)
    }
}

@media (max-width:610px) {
    .games_search {
        top: -70px
    }

    .games_search.games_input {
        margin-left: 5px;
        margin-right: 15px;
        position: absolute
    }
}